[2015-06-02 11:41] abhiataero opened #1 "add parameter to specify acl option in the config file"
Presently the tools always set the acl setting to public read. as a user i dont want to make my data public,

[2015-06-04 07:10] CrisCD opened #2 "Running the Optimize Raster program causes the CMD and Windows to hang and thrown in a "gdal translate" error"

[2015-06-04 07:14] CrisCD opened #3 "When changing the KeepExtension node value to "No" , the output extensions still have the .tif extension maintained."

[2015-06-30 10:00] #2 closed, assigned to nobody

[2015-07-06 08:29] Chamlika opened #4 "Request support to handle (Zero) byte uploads"

[2015-07-06 08:30] #4 closed, assigned to nobody

[2015-07-06 08:58] #3 closed, assigned to nobody

[2015-07-28 12:10] CrisCD opened #5 ".msk files get filtered out by default , they are not retained in the output"

[2015-07-28 12:11] CrisCD opened #6 ".msk files get filtered out by default , they are not retained in the output"

[2015-07-28 12:17] CrisCD opened #7 "tif.xml filter does not work. tif.xml files get carried forward even after applying the excludefilter"

[2015-07-29 05:45] #5 closed, assigned to nobody

[2015-07-29 05:45] #6 closed, assigned to nobody

[2015-07-29 05:48] #1 closed, assigned to nobody

[2015-07-29 10:39] CrisCD opened #8 "tif.aux.xml / aux.xml filter does not work. aux.xml files get carried forward even after applying the excludefilter"

[2015-07-29 10:41] CrisCD opened #9 "gdal path is not set , hence causing projection issues"

[2015-07-29 10:53] #9 closed, assigned to nobody

[2015-07-29 13:04] #7 closed, assigned to nobody

[2015-07-29 13:04] #8 closed, assigned to nobody

[2015-08-02 11:39] CrisCD opened #10 "Enhancement : A seperate organized list of Failed files should be generated along with the logs, hence making detecting issues more efficient"

[2015-08-04 07:49] CrisCD opened #11 "Enhancement : Add support for LERC2 as a compression type."
Currently LERC2 compression type is not supported by Optimize Rasters.

[2015-08-16 07:11] CrisCD opened #12 "pyramidsampling command does not work in command line and is not recognized"

[2015-08-19 08:24] abhiataero opened #13 "When input data is coming from s3 bucket the pyramids for MRF are created externally"
When input data is coming from s3 bucket the pyramids for MRF are created externally.

as a user i wanted to convert the tif files from s3 into MRF format and upload it back to the s3 bucket. I have also set the parameter to build pyramids. In the out pyramids are built as external files ( .ovr). for MRF it should have been embedded.

[2015-08-19 09:32] CrisCD opened #14 "Optimize raster doesn't not recognize ".TIF" extension as input."

[2015-09-29 12:53] #14 closed, assigned to nobody

[2015-09-29 12:53] #11 closed, assigned to Chamlika

[2015-09-29 12:55] Chamlika opened #15 "Add support to optimize/compress .TIL files."

[2015-10-14 08:18] #12 closed, assigned to nobody

[2015-10-18 09:06] CrisCD opened #16 "Receive error "Driver GTiff does not support BLOCKSIZE creation option" when converting to tif format with deflate compression. Creation option should be BLOCKXSIZE, not BLOCK_SIZE"

[2015-10-18 11:46] #16 closed, assigned to nobody

[2015-10-18 11:47] #15 closed, assigned to nobody

[2015-10-22 11:33] abhiataero opened #17 "Creating clone MRF fails in some times"
When you create clone MRF, some times it gives an error failed to open the dataset, add an check to retry it again, also add the support to log the failures

so that user knows which files have failed

[2015-10-22 11:36] abhiataero opened #18 "Add Support to convert the data by reading the failed file list"
In the process of conversion, if some of the files failed. it should be written to a list which can again be used as in put to convert the data

[2015-10-22 11:40] abhiataero opened #19 "Add support to take input as single file"
Add support to take input as single file, if some case the file fails to convert, in that user would like to jsut convert that file, in that case, the command should take input as file or list of files

[2015-10-22 11:41] CrisCD opened #20 "Add a node in the config file, where the name to be given to the generated logs can be mentioned."

[2015-10-22 11:45] CrisCD opened #21 "The errors generated in the log file should either fall into the error category or the warning category, not both (i.e. warning/error)"

[2015-10-29 06:21] #13 closed, assigned to nobody

[2015-10-29 06:24] Chamlika opened #22 "Add the support to (Push) a folder/a text file with a list of file names without any conversion."
In progress..

[2015-10-29 06:44] #17 closed, assigned to Chamlika

[2015-10-29 06:53] RandallRebello opened #23 "Enhancement: Have a built in resume function for batch files."
Have a list of files written out for each batch file that is run.
The file list that is written should contain a list of processed / failed files.
The program should write to the list on the following instances.
1. Success entire process.. D/L - Conversion - Upload
2. Failed - Conversion
3. Failed - Upload.

To Resume..
Run the batch file. The program should check if the resume text file exists. I

[2015-11-01 12:25] #22 closed, assigned to nobody

[2016-01-13 13:51] #10 closed, assigned to nobody

[2016-01-13 13:52] #18 closed, assigned to Chamlika

[2016-01-13 13:54] #23 closed, assigned to nobody

[2016-01-13 13:57] #19 closed, assigned to nobody

[2016-01-13 14:00] #20 closed, assigned to nobody

[2016-01-13 14:03] #21 closed, assigned to nobody

[2016-03-11 18:02] gmorlock opened #24 "Problem converting WV3 to MRF"
I installed OptimizeRasters yesterday and have been experimenting with converting WorldView-3 imagery to MRF.  I started by trying to use OptomizeRasters to convert and upload the MRF files to S3.  The process seemed to work but when I checked the files on S3 they were very small -- just a few bytes.  They obviously didn't convert.  I didn't check the log file to see if there were errors.

I decid

[2016-03-11 19:51] PBecker92373 commented on #24
Greg
Let us take a look at this.
I believe this is something related to how GDAL_Translate handles NITF files. A preliminary review of this shows that the RPCs are being lost.

The pyramid level warnings are just to define that you have defined pyramids that are smaller than 1 tile so will not be created. It is better to define too many pyramids and get some warnings back then have too few and end

[2016-03-11 20:01] gmorlock commented on #24
OK, thanks.  I look forward to hearing from you.

Greg

On Fri, Mar 11, 2016 at 12:51 PM, Peter Becker <notifications@github.com>
wrote:

[2016-04-12 05:15] abhiataero opened #25 "Validate the Credentials"
In the profile Tool when the user enters the credentials, there should be an option to validate them

[2016-04-12 05:23] abhiataero opened #26 "Temp output should be disable if the mode is Clone/Cache MRF and output storage is local"
Temp output should be disable if the mode is Clone/Cache MRF and output storage is local

Other issue is
If the user is using clone/cache MRF mode and defined temptoutput the MRF file should be generated in the output folder and not tempoutputfolder

[2016-04-12 05:27] abhiataero opened #27 "Split MRF mode is not working"
Split MRF mode is not working

[2016-04-13 10:10] Chamlika commented on #26
-tempoutput will not be disabled but now should function properly by moving the files in the -tempoutput to -output location. Code being tested.

[2016-04-13 10:13] Chamlika commented on #25
Let me look into this, I believe the functionality (To validate/List bucket names/e.t.c) should be exposed by OptimizeRasters.py through a UI interface. Will write code.

[2016-04-13 10:15] Chamlika commented on #27
SplitMRF should be deprecated. We should not promote this -mode in OR.

[2016-04-13 15:14] #26 closed

[2016-04-13 15:15] Chamlika commented on #27
Double check and let me know please. This could be false alarm. Where is it broken?

[2016-04-14 20:48] rdunn3 opened #28 "Creation of MRF from Service Overview hangs"
I'm trying to create MRF files from Service Overviews using the Overviews_to_MRF_LERC template. The process hangs at the first file. I don't see gdal_translate in Task Manager either.

This may be a permissions issue since I don't have admin rights on this machine.

Executing: OptimizeRasters Overviews_to_MRF_LERC Local Profile Local G:\workspace\MosaicDatasets\test # Local Profile Local G:\worksp

[2016-04-19 00:20] rdunn3 opened #29 "CloneMRF of Service Overview files don't display at all scales"
I'm using CloneMRF to create reference copies of my Service Overviews in Azure Blob storage.

The mrf still has a reference to pyramids even though I set buildpyramids to false:

  <Rsets model="uniform" scale="2"/>

The result is that the service overview won’t display at all scales because it thinks it has a pyramid.

[2016-04-19 14:48] Chamlika commented on #29
The latest update should clear this issue. Please update with just the OptimizeRasters.py or the setup on GitHub and have a look. Thanks.

[2016-04-19 14:48] #29 closed

[2016-04-19 14:52] Chamlika commented on #28
I heard you got the workflow working successfully via a MS-DOS window. Will see what's going on when the UI is used. However, I believe this is an isolated incident.

[2016-04-19 15:20] Petwet2000 opened #30 "Optimizing 16 bit data"
I am working with a large amount of 16 bit satellite imagery data. I ran into some obstacles when I tried to use OptimizeRaster “Imagery_to_TIF_JPEG” config file to optimize the images. My questions are as follows:
1.  Is there a template that would allow users to rescale 16bit to 11bit and also handle 4 band and single band imagery?
2.  Optimize raster seems to build internal overviews by default

[2016-04-19 15:25] rdunn3 commented on #28
Did you try reproducing this as a user that does not have admin privileges?

[2016-04-19 16:35] Chamlika commented on #28
Roslyn,
    I'll still have to do and test that. Will let you know.

-Chamlika

Sent from my Windows Phone
________________________________
From: Roslyn Dunn<mailto:notifications@github.com>
Sent: ‎4/‎19/‎2016 19:25
To: Esri/OptimizeRasters<mailto:OptimizeRasters@noreply.github.com>
Cc: Chamlika Sudarsha Wickramasinghe<mailto:cwickramasinghe@esri.com>
Subject: Re: [Esri/OptimizeRasters] Creation o

[2016-04-19 23:10] gsumerling commented on #30
Hello, I came across the same issue with multiband image sets. The solution is to use the JPEG Band Interleave compression method. I have attached the sample XML that I used for this and a script below:

C:\PYTHON27\ArcGISx6410.4\python.exe C:\Image_Mgmt_Workflows\OptimizeRasters\OptimizeRasters.py -config=c:\Image_Mgmt_Workflows\OptimizeRasters\Templates\Multibandcompressed_to_MRF_JPEG.xml -input

[2016-04-20 08:54] Chamlika commented on #30
Please note on the usage to support external pyramids>

Using a parameter file,
    <BuildPyramids>external</BuildPyramids>

Using the cmd-line equivalent,
      -pyramids=external

Using the UI,
	Advanced->Edit configuration values
	Set the (buildPyramids) parameter to 'external'

Note the following conditions that would enable the external pyramid support.
if the Compression is either 'jpeg' or

[2016-04-20 12:50] Petwet2000 commented on #30
Thank you Chamlika. I will try this.

Christopher Patterson | Imagery Solutions Specialist
Esri Canada | 430-1600 Carling Ave | Ottawa ON K1Z 1G3
T 613-691-2068 | M 613-297-0897 | esri.ca<http://esri.ca/>

From: Chamlika Wickramasinghe [mailto:notifications@github.com]
Sent: Wednesday, April 20, 2016 4:55 AM
To: Esri/OptimizeRasters <OptimizeRasters@noreply.github.com>
Cc: Christopher Patterson <c

[2016-04-20 12:59] Petwet2000 commented on #30
Hi Gordon,

Thanks for the info and the script. I will review and try it.

Cheers,

[2016-04-21 06:47] #27 closed

[2016-04-21 06:57] Chamlika opened #31 "To support tar, tar.gz in future."
To help users to feed in .tar / .tar.gz directly into OptimizeRasters to work with compressed rasters.
Presently users need to use external tools such as (Tartool.exe and others) to unzip data from (USGS/PGC/e.t.c.) before they could proceed with OptimizeRasters to complete their workflows.

[2016-04-21 20:12] lucianpls commented on #31
You could use the [GDAL vsitar and vsizip](https://trac.osgeo.org/gdal/wiki/UserDocs/ReadInZip
) facilities.
Depending on the content of the tar/zip, unpacking the data first, using either external tools or python, might still be the better option.

[2016-04-25 08:52] Chamlika commented on #25
UI Enhancements added>
1. New user credentials get validated at the time of creation.
2. input/output bucket list automatically gets populated to reflect the available bucket/container names connected with the chosen input/output profile.

[2016-04-25 08:52] #25 closed

[2016-04-26 19:24] gmorlock commented on #24
Peter,
After our conversation this morning, just checking on the status of this problem.

[2016-04-26 20:39] PBecker92373 commented on #24
The existing version does loose the RPC information from the NITF files. A fix is going into OptimizeRasters to correct this but it does require and update to the GDAL part so will take a bit more time. There is also a requirement to get ArcGIS to pick up the RPCs correctly from the Aux.xml files which should be in the next 10.4.1 release.

[2016-04-26 20:48] gmorlock commented on #24
OK, Thanks.

On Tue, Apr 26, 2016 at 2:39 PM, Peter Becker <notifications@github.com>
wrote:

[2016-04-27 21:05] gmorlock opened #32 "Input Bucket/Container and/or Output Bucket/Container Required for Local Source/Destination"
When filling out the OptimizeRasters form if using a local source, the Input Bucket/Container is required and throws an exception when trying to execute.  Likewise if you specify a local destination, the Output Bucket/Container is required and throws and exception.

[2016-04-27 21:43] gmorlock opened #33 "Can't initialize S3 from ArcGIS 10.4 machine"
I used OptimizeRasters on a local machine running ArcGIS 10.3.1 to convert some DG WV2 files to MRF and copy them to S3.  Then, from an EC2 instance running ArcGIS 10.4, I attempted to clone the MRF files on S3 to my EBS on the EC2 instance.  I get errors that say: Unable to initialize the (S3) upload module! Check module setup/credentials. Quitting..  I've tried other templates to work with S3 an

[2016-04-28 02:01] Chamlika commented on #33
Hi,
    Can you tell me if this workflow/similar pattern used to work before? I need to know if this got broken with the recent UI changes that went through to auto popular the cloud bucket names. Will check on this soon and have a follow up email on this. For now if you can, use the command line to avoid this error. Thanks.

-Chamlika

Sent from my Windows Phone
________________________________
F

[2016-04-28 10:56] Chamlika commented on #32
Thanks for reporting. A fix has been added to (OptimizeRasters.pyt).
You can either download just the OptimizeRasters.pyt or the OptimizeRastersToolsSetup.exe off the GitHub.

[2016-04-28 10:56] #32 closed

[2016-04-28 12:59] gmorlock commented on #33
I did some more testing this morning.  On a different Amazon VM with ArcGIS
10.3.1 installed I did the CloneMRF operation using OptimizeRasters version
20160310 and the operation worked.  Next I downloaded and used version
20160428 and it worked.  Next I went back to my VM running ArcGIS 10.4 and
downloaded and used version 20160428 and it failed as before with the
unable to initialize the S3 erro

[2016-05-01 09:48] Chamlika commented on #33
The issue (#33) was tracked down to a period character/(.) in the input/output S3 bucket name. The fix was to treat (.) character in bucket names to use the (Ordinary standard calling format) when creating a S3 connection.

[2016-05-01 09:48] #33 closed

[2016-05-04 19:47] gmorlock opened #34 "Problem using Imagery_to_MRF_LERC from S3 to S3"
I am using version 20160503 of OptimizeRasters.  I copied several GB worth of imagery from my local server to a S3 bucket using DragonDisk.  I then tried using OptimizeRasters with the Imagery_to_MRF_LERC process to convert the S3 imagery to MRF in another S3 bucket.  The process fails saying that access is denied on the source files.  I have verified that all can read from the bucket.  The log an

[2016-05-05 14:37] Chamlika commented on #34
@gmorlock I've no issues using/processing the .orjob file attached. Could you double check to see if it was a temporary S3 access issue.

[2016-05-05 19:58] gmorlock commented on #34
I just tried it again.  It still fails with the same errors.  Could it be
the version of Python -- 2.7.10?  I updated boto to 2.40.0 to make sure and
ran again.  Same errors.

Greg

On Thu, May 5, 2016 at 8:37 AM, Chamlika Wickramasinghe <
notifications@github.com> wrote:

[2016-05-16 16:11] rdunn3 commented on #28
I have verified that this is not an issue with OptimizeRasters. It happened because the Azure python libraries weren't properly installed (because the install user did not have admin privs on the machine).

[2016-05-16 16:11] #28 closed

[2016-07-05 11:48] #34 closed

[2016-07-29 14:20] cjgabris opened #35 "Tool runs (kind of) but MRF seems empty"
I am dealing with many DG Images that take up massive amounts of storage. I want to be able to use the OptimizeRaster tool to store the images in an s3 bucket, and use the MRF files locally in a mosaic dataset and eventually publish as an Image Service.

The tool runs for about an hour, and then fails. However, I am seeing a MRF file in my Clone directory, as well as files in the cache, temp and s

[2016-07-29 15:00] rdunn3 commented on #35
I've been using this tool for a limited time, but this is my understanding. I always run the tool twice. First I would run the tool with the DG_SatelliteProduct_to_MRF_LERC template, but you don't need those last 3 arguments yet (just specify the output destination, output profile, output bucket, and the output path). This will convert your tiff to mrf in S3.

Next you will run the tool with the C

[2016-07-29 20:13] cjgabris commented on #35
@rdunn3 thank you for this feedback. I tried to run the tool with the limited parameters and found that my data was not copied to s3.

In my old workflow, I am able to get results back from s3, add the TIFs to a mosaic dataset and publish as an image service. The tool does throw an error though, and I am not sure if it is problematic to what I am trying to do.
![optimizeraster](https://cloud.githu

[2016-07-29 22:32] Chamlika commented on #35
@cjgabris The error shows the file conversion went through successfully but the failure happened while marking its progress in the log file. From your response it sounds like you got the workflow working OK and was able to serve the image service. If possible, see if you could send the .xml log/orjob file on this particular workflow found in the OptimizeRasters (log) folder and send it across as a

[2016-08-01 21:30] cjgabris commented on #35
@Chamlika Have posted the log files here. I am still looking for the optimum/best practice workflow based on what the tool offers and what I am ultimately trying to do (display many DG images from s3 MRF files as an Image Service). I am currently taking all the output MRF .TIF files in my Clone folder for a particular image and adding them to a mosaic dataset. I am
![optimizeraster2](https://cloud

[2016-08-01 21:52] CodyBenkelman commented on #35
Chris - I can't answer at the technical depth that Chamlika can, but your comment about building pyramids isn't clear to me.  Do you mean "as part of OptimizeRasters" (before building MD)?  I don't think you'll want to use ArcMap to create Pyramids of MRF format rasters in an MD.  The rasters should have pyramids within the MRF format and S3 storage.  Once in the MD, you may want to build Overview

[2016-08-01 23:05] gsumerling commented on #35
Hello Chris,

The black images look like the pyramids have not all been created correctly. In the .xml template file you need to set the BuildPyramids to true, but in the PyramidFactor set it as: <PyramidFactor></PyramidFactor>. This forces an autocalculate on the pyramids. Also if your using multiband DG imagery then I suggest using the interleave option as BAND. This then provides the optimal co

[2016-08-02 16:02] cjgabris commented on #35
@CodyBenkelman Thanks for responding Cody! My workflow has been to run OptimizeRasters on a DG Image, build pyramids on the output files in the Clone folder, add all those files to a MD and merge into one file. The goal is to do that with multiple DG Images based on the satellite type.

The issue I am getting is sometimes the pyramids are failing to build on the output files in the Clone folder. E

[2016-08-02 16:36] Chamlika commented on #35
Chris,
  I looked up the log file from you and for some reason GDAL is failing to read the rasters related to the file WV01/054872572010_01/054872572010_01_P001_PAN/15AUG17050640-P2AS-054872572010_01_P001.TIL with permission issues/errors from GDAL like (ERROR 1: TIFFFetchStripThing:IO error during reading). This is unusual and could be related to source GD rasters. One question, did you get the O

[2016-08-02 18:19] cjgabris commented on #35
@Chamlika For any of the DG images I run the tool on I get the same general errors. I have tried with a few WV01 and GE01 DG images. All of the processes move data to s3 and create the 100+ MRF files in the Clone dir.

[2016-08-02 19:02] Chamlika commented on #35
@cjgabris OK. I'm not sure if this error from GDAL could be safely ignored at the moment. It looks like you've got all the data uploaded to S3 and the clone files created but possibly due to this error couldn't complete the pyramid creation process. I see that error in the original log file sent. This could be even due  to out of disk space (double check on that) or an access issue of some sort. I

[2016-08-02 20:05] cjgabris commented on #35
@Chamlika Thank you. If there is something I can send that would help to replicate, please let me know. I do not think disk space is the issue.

[2016-08-03 06:03] Chamlika commented on #35
@cjgabris OK I could duplicate this. Will notify you once fixed and tested. Thanks.

[2016-08-05 19:15] cjgabris commented on #35
@CodyBenkelman With adjustments to my XML and .py files, I've rerun the OptimizeRaster tool and do not get the errors referenced in my earlier posts. However, I get a new error when trying to build pyramids on the resulting raster datasets in my clone directory. Any suggestions on how to best visualize the results in the clone directory? I tried Overviews but didn't get better results.
![optimizer

[2016-11-11 18:05] #35 closed

[2017-02-15 08:38] CrisDsouza opened #39 "The .orjob wrongly tags failed files as "yes" for COPIED, PROCESSED, UPLOADED"

[2017-03-20 07:11] CrisDsouza opened #40 "The parameter -clonepath is not case-sensitive"

[2017-03-23 14:04] CrisDsouza opened #41 "OptimizeRasters needs to be run twice to successfully generate ProxyMRFs. Issue is data specific."

[2017-05-17 20:38] Petwet2000 opened #43 "10.5 Support??"
Hi Is OptimizeRaster supported at 10.5? I ask because I am unsuccessful in using Optimizeraster with 10.5 to convert elevation tiff's to MRF with LERC compression.

Thanks,

[2017-05-18 06:35] RandallRebello commented on #43
Hi,
Can you please provide some more details in the problem you are facing.  Would it be possible to provide the log file for this issue. Are you facing problems with the UX?
Thanks,
Randall

[2017-05-18 13:05] Petwet2000 commented on #43
Hi Randall,

The log file attached.

Cheers,

Christopher Patterson | Imagery Solutions Specialist
Esri Canada | 430-1600 Carling Ave | Ottawa ON K1Z 1G3
T 613-691-2068 | M 613-297-0897 | esri.ca<http://esri.ca/>

From: RandallRebello [mailto:notifications@github.com]
Sent: Thursday, May 18, 2017 2:36 AM
To: Esri/OptimizeRasters <OptimizeRasters@noreply.github.com>
Cc: Christopher Patterson <cpatt

[2017-05-18 13:12] RandallRebello commented on #43
Hi Christopher
I think you forgot to attach the log file..

Randall

[2017-05-18 13:16] Petwet2000 commented on #43
Hi Randall,

It was attached but I think your system filtered it. I attached it again but changed the extension to “.txt.” Let me know if it’s missing again.

Cheers,

Christopher Patterson | Imagery Solutions Specialist
Esri Canada | 430-1600 Carling Ave | Ottawa ON K1Z 1G3
T 613-691-2068 | M 613-297-0897 | esri.ca<http://esri.ca/>

From: RandallRebello [mailto:notifications@github.com]
Sent: Thu

[2017-05-18 13:36] Chamlika commented on #43
@Petwet2000  It looks like your copy of OptimizeRasters is slightly outdated. Could you try with the latest setup available @ https://github.com/Esri/OptimizeRasters/raw/master/Setup/OptimizeRastersToolsSetup.exe and let us know. Thanks.

[2017-05-18 13:37] Petwet2000 commented on #43
Ok will do.

Thanks,

Christopher Patterson | Imagery Solutions Specialist
Esri Canada | 430-1600 Carling Ave | Ottawa ON K1Z 1G3
T 613-691-2068 | M 613-297-0897 | esri.ca<http://esri.ca/>

From: Chamlika Wickramasinghe [mailto:notifications@github.com]
Sent: Thursday, May 18, 2017 9:36 AM
To: Esri/OptimizeRasters <OptimizeRasters@noreply.github.com>
Cc: Christopher Patterson <cpatterson@esri.ca>;

[2017-05-18 14:21] Petwet2000 commented on #43
Hi Chamlika,

Do you recommend I uninstall the older version first?

Christopher Patterson | Imagery Solutions Specialist
Esri Canada | 430-1600 Carling Ave | Ottawa ON K1Z 1G3
T 613-691-2068 | M 613-297-0897 | esri.ca<http://esri.ca/>

From: Chamlika Wickramasinghe [mailto:notifications@github.com]
Sent: Thursday, May 18, 2017 9:36 AM
To: Esri/OptimizeRasters <OptimizeRasters@noreply.github.com>

[2017-05-18 14:26] Chamlika commented on #43
@Petwet2000   No need, the new setup should just overwrite the existing files. There's no windows registry entry modifications done by the setup, so it's completely safe.

[2017-05-18 14:27] Petwet2000 commented on #43
Ok thank you.

Christopher Patterson | Imagery Solutions Specialist
Esri Canada | 430-1600 Carling Ave | Ottawa ON K1Z 1G3
T 613-691-2068 | M 613-297-0897 | esri.ca<http://esri.ca/>

From: Chamlika Wickramasinghe [mailto:notifications@github.com]
Sent: Thursday, May 18, 2017 10:26 AM
To: Esri/OptimizeRasters <OptimizeRasters@noreply.github.com>
Cc: Christopher Patterson <cpatterson@esri.ca>; Menti

[2017-06-01 08:47] Lewis-Birkett opened #44 "BlobService import fails"
When running the ProfileEditor to create an azure profile, it fails with the error "Azure" object has no attribute "_blob_service".
![image](https://cloud.githubusercontent.com/assets/20474865/26671968/4b9b37bc-46af-11e7-84f6-9ecb533b6758.png)

Having a look, I belive the error is with this section in "OptimizeRasters.py":

In Class Azure (line 1710): "from azure.storage.blob import BlobService"

[2017-06-01 12:17] Chamlika commented on #44
Lewis,
   Thanks for reporting. OptimizeRasters has been updated to work with the latest azure module.
Please update from GitHub.

Cheers,
Chamlika

From: Lewis-Birkett [mailto:notifications@github.com]
Sent: 2017-06-01 12:48
To: Esri/OptimizeRasters <OptimizeRasters@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Subject: [Esri/OptimizeRasters] BlobService import fails (#44)

W

[2017-06-01 12:18] #44 closed

[2017-06-01 12:19] #43 closed

[2017-06-01 12:22] Chamlika commented on #40
The -clonepath has been deprecated. Please use -rasterproxypath with the latest on GitHub.

Thanks,
Chamlika

[2017-06-01 12:22] #40 closed

[2017-06-01 12:26] Chamlika commented on #30
@Petwet2000  Did you get over this issue?

[2017-06-09 14:54] Petwet2000 commented on #30
Hi,
Apologizes for the delayed response. I was out of office for two weeks. I just tried using a 3 band 16 bit and got the following:

log-msg: warnings/errors:
log-msg: Warning 6: TIFFTAG_MAXSAMPLEVALUE metadata item is unhandled and will not be written
log-msg: Warning 6: TIFFTAG_MINSAMPLEVALUE metadata item is unhandled and will not be written
log-msg: ERROR 1: JPEGSetupEncode:BitsPerSample 16

[2017-06-15 13:44] #41 closed

[2017-06-15 13:46] Chamlika commented on #41
If  you think it's data specific, let me have a sample raster to see what's going on. Thanks.

[2017-06-19 14:25] Lewis-Birkett commented on #44
I believe your latest update has brought this issue back.

[2017-06-19 20:29] Chamlika commented on #44
Lewis,
     Thank you informing. You're right, the fix was left out during an upgrade. Please update from GitHub.

-Chamlika

Sent from my Windows Phone
________________________________
From: Lewis-Birkett<mailto:notifications@github.com>
Sent: ‎6/‎19/‎2017 18:26
To: Esri/OptimizeRasters<mailto:OptimizeRasters@noreply.github.com>
Cc: Chamlika Sudarsha Wickramasinghe<mailto:cwickramasinghe@esri.com

[2017-07-04 15:15] nsteffens opened #45 "GUI Tool not working - Still works on console"
I'm trying to run the tool inside of ArcGIS 10.5. I want to create RasterProxyFiles from .tif files inside of an AWS S3 bucket and get the following error message:

The thing I don't understand is that if I run the tool on the console, using the same parameters (taken from the log-file of the GUI approach) everything works fine and a RasterProxyFile is created.

There is one Policy on the S3 bucke

[2017-07-06 09:51] Chamlika commented on #45
@nsteffens  How was the bucket name entered on the UI, was it selected from the input bucket drop down list or typed in manually? If you can please share the log file generated when run from the UI. Thanks.

[2017-07-06 13:45] nsteffens commented on #45
Thanks for your reply. I selected the bucket name from the drop-down menu as it loaded all of my buckets. Please see the content of the log file attached.

I also updated the version of boto3 using pip. As you probably see i anonymized my bucket name. The only 'special' character that is used is a minus (-).

Thanks in advance!

[OR_20170704T150123224000_20170704T150123.txt](https://github.com/Esr

[2017-07-09 11:48] Chamlika commented on #45
@nsteffens I'm unable to duplicate the issue on my side. Could you give me the exact bucket name used?

[2017-07-10 09:53] nsteffens commented on #45
The exact name of the bucket is 'ifgi-copernicus-image-processing'. I also did a short video demonstrating the issue: https://uni-muenster.sciebo.de/index.php/s/XBtnAnzSr7vHsSl

[2017-07-10 12:01] Chamlika commented on #45
Nico,
     Thanks for the video demonstration. The ‘input path’ text requires only the folder name without the file name. Could you take out the file name from the input path text and see if it works. Thanks.

From: Nico Steffens [mailto:notifications@github.com]
Sent: 2017-07-10 13:54
To: Esri/OptimizeRasters <OptimizeRasters@noreply.github.com>
Cc: Chamlika Sudarsha Wickramasinghe <cwickramasing

[2017-07-11 12:07] nsteffens commented on #45
I just removed the file name and just inserted the folder name where multiple .tif files are stored. I still get the same error message. As I already stated, if I run it on the command line it works fine.

[2017-07-18 10:21] Chamlika commented on #45
@nsteffens  Can you run the OptimizeRasters session in the foreground within ArcMap (Disable background processing) and send me the text that show up in the progress window? Please don't modify anything in text before sending so that I know exactly what was sent across. Thanks.

[2017-07-31 10:22] CrisDsouza opened #46 "On conversion of data to MRF format, .lrc and .idx files should not be created. If created they should be deleted as well."

[2017-10-27 05:37] Chamlika commented on #46
Ancillary extension files (.idx, .lrc) on the client side that are no longer required for the mode (rasterproxy) are now deleted.

[2017-10-27 05:37] #46 closed

[2017-12-07 19:03] zhouning opened #48 "Use custom aws_endpoint_url"
When use custom aws_endpoint_url:   http://oss-cn-hongkong.aliyuncs.com (this is AWS S3 Compatible),
I found that the code   OptimizeRastersUI.getAvailableBuckets() or ProfileEditorUI.validateCredentials() can not get _availableBuckets,may be because the code:
con = session.resource('s3')
lost parameter "endpoint_url=url"?

[2018-01-04 11:41] abhiataero opened #49 "Add support for using vsigs"
When you create Raster proxies from a secured google cloud container add support to use vsigs

[2018-02-12 15:38] Petwet2000 commented on #30
Hi Chamlika,

I hope this mail finds you well. Is there are way presently to optimize 16bit 4 band imagery using JPG compression?

Thanks,

Christopher Patterson | Imagery Solutions Specialist
Esri Canada | 430-1600 Carling Ave | Ottawa ON K1Z 1G3
T 613-691-2068 | M 613-297-0897 | esri.ca<http://esri.ca/>

From: Chamlika Wickramasinghe [mailto:notifications@github.com]
Sent: Thursday, June 01, 201

[2018-02-12 18:09] lucianpls commented on #30
It is a format limitation, JPEG supports 8 or 12 bits per pixel, not 16.
For 16 bit, LERC should work fine.  For higher compression ratio, use a LERC max error of 1 or 2, it will be slightly lossy at that point, similar to JPEG.

[2018-02-12 18:19] PBecker92373 commented on #30
Note that there is an advanced option in OptimizeRasters that enables GDAL Parameters to be added.
The explanation includes the following
GDAL_Translate_UserParameters : User GDAL_Translate values. These values will be passed on without any modification. Refer to http://www.gdal.org/gdal_translate.html for more options.
Examples: (Refer to the link above for full explainations.)
•	-scale 200 255 0

[2018-02-12 18:22] Petwet2000 commented on #30
Hi Lucian,

Thanks for this.

Cheers,

Christopher Patterson | Imagery Solutions Specialist
Esri Canada | 430-1600 Carling Ave | Ottawa ON K1Z 1G3
T 613-691-2068 | M 613-297-0897 | esri.ca<http://esri.ca/>

From: Lucian Plesea [mailto:notifications@github.com]
Sent: Monday, February 12, 2018 1:10 PM
To: Esri/OptimizeRasters <OptimizeRasters@noreply.github.com>
Cc: Christopher Patterson <cpatterson

[2018-03-19 16:59] joemcglinchy opened #50 "cloudupload parameter not honored"
Hello,

I am running the OptimizeRasters.py script from the command line... I have some permissions and environment settings that don't allow me to run the python toolbox from ArcCatalog. I have tried setting the -cloudupload flag to -cloudupload=true, -cloudupload=True, but with no success. In the same cmd.exe session I am able to run `aws s3 ls` and see my available buckets, so this command shou

[2018-03-19 18:51] Chamlika commented on #50
@joemcglinchy Can you remove -mode=rasterproxy at the cmd-line and have a look?

[2018-03-19 19:49] joemcglinchy commented on #50
@Chamlika I tried that, but the config XML file I am using produces the following error:

[code]

if I change the config to Imagery_to_MRF_LERC.xml, and remove the -mode=rasterproxy, then my data converts and pushes to S3 just fine. Not sure why the error in the JPEG mode, though. The software I am using does not support LERC compression (rasterio/gdal), so I was hoping to use the JPEG compression

[2018-03-19 19:52] joemcglinchy commented on #50
I can access the source data in S3 no problem since it is so small (thanks @rdunn3 !), but for future work with larger data I'd like to see if I can get the conversion working.

[2018-03-19 20:11] lucianpls commented on #50
JPG algorithm only works for 8 or 12 bit data.  Use DEFLATE if LERC is not an option.

[2018-03-19 20:27] joemcglinchy commented on #50
thank you @lucianpls ! Using DEFLATE allowed for the push to S3 and successful conversion. Now when I try to read from rasterio it crashes my python, but that's a whole other issue. Thanks!

[2018-04-19 05:33] asalool opened #52 "HTTP response code: 403 - Failed writing header"
I have the raster files in S3 and I'm using an IAM role to access it. When I run the tool on raster proxy mode I'm getting 'HTTP response code: 403 - Failed writing header' error directly after trying to apply compression with the vsicurl command. I can confirm that there is no issues at all in accessing the files on S3 as all of the non imagery files can be accessed and downloaded to the local ou

[2018-04-19 05:59] Chamlika commented on #52
@asalool  Could you use -usetoken=true at the cmd-line and give it another try?  -usetoken must be used with EC2 instances with IAM role based security.

[2018-04-19 08:42] asalool commented on #52
Thanks @Chamlika , it's working fine for me now. I wish this was highlighted in the documentation

[2018-04-19 22:52] asalool commented on #52
@Chamlika I can't view the created raster proxy files in ArcMap, is there any compatibility issues with ArcGIS 10.6? I can add them without any errors and I can access raster information

[2018-04-22 06:01] abhiataero commented on #52
@asalool  can you check if you have the permission to access the data from the s3 bucket. easy way to do that is to open the URL is a browser, it wil tell you if there is an issue for access

[2018-04-27 05:36] asalool commented on #52
@Chamlika I can confirm that I have the permission to access the data, actually I can't create the raster proxy files if I don't have the access. I can successfully create the files using the below command, I appreciate your assistance

C:\Python27\ArcGIS10.6\python.exe C:\Users\user\Desktop\Image_Mgmt_Workflows\OptimizeRasters\OptimizeRasters.py -inputprofile=iamrole:gis-dev01-role -clouddownload

[2018-04-27 17:51] lucianpls commented on #52
There are two ways to consume files from S3, one is using IAM and /vsis3, while the other one uses unsigned HTTP GetObject access, via /vsicurl.
You might have access via IAM and the token but if the proxies are set up via /vsicurl you would need unsigned GetObject access, which is controlled by the source bucket policy.
Look inside the proxies, do they have links that start with /vsis3 or with /v

[2018-04-27 21:07] Chamlika commented on #52
@asalool  Could you attach one of your proxy files? Also see if the below command makes any difference in the output proxy files,
C:\Python27\ArcGIS10.6\python.exe C:\Users\user\Desktop\Image_Mgmt_Workflows\OptimizeRasters\OptimizeRasters.py -inputprofile=iamrole:gis-dev01-role -clouddownload=true -clouddownloadtype=amazon -usetoken=true -inputbucket=ig-gis -input=sample/ -output=C:\Users\user\Des

[2018-04-27 21:12] Chamlika commented on #48
@zhouning Do you think you still have this issue with the version currently on GitHub?

[2018-04-30 04:33] KazzaS opened #53 "Resume jobs"
Hi,

Over the weekend I was running a Imagery_to_MRF_JPEG OptimizeRaster script using many tif files in many folders on the S3 over weekend and it stalled because of an 'gdaladdo.exe has stopped working' error which eventually crashed the computer, therefore the .orjob file did not contain the yes's and no's to run the Resume tool.  All the tifs were downloaded to my computer, hundreds of GBs.  Ho

[2018-04-30 07:15] Chamlika commented on #52
@asalool  Can you check if the folder path C:/Users/ahmed.elsalloul1/Desktop/RP/ exists on the disk?  The raster(s) don't show up if the paths <DataFile> and <IndexFile> in the proxy file don't exist.  Also see if the raster shows up if both paths are set to **C:/temp/**ahmed.elsalloul1/Desktop/RP.  This is just to test if it's a folder permission issue that we're dealing with here. Thanks!

[2018-04-30 07:31] Chamlika commented on #53
@KazzaS I believe there's a typo in your usage, the usage should've been  c:\Python27\ArcGIS10.4\python.exe c:\Image_Mgmt_Workflows\OptimizeRasters\OptimizeRasters.py -input=OR_20151211T024329630000.orjob

Also, If the tiff files have already been downloaded, I'd suggest to set the -input to the local disk path where the rasters are located (skipping the s3 pull operation by removing the download=

[2018-04-30 23:26] asalool commented on #52
@Chamlika Yes the folder exists, and I can see that cache files are being created. I've updated the paths as per your request and I'm still having the same issue

[2018-04-30 23:50] KazzaS commented on #53
Hi Chamlika,  Thanks for your quick reply.  I have put my feedback in highlighted italics below.
Kind regards,
K.
Ps: this is the first time I post on the GitHub OptimizeRaster Issue board, will this email reply also be posted?
From: Chamlika Wickramasinghe [mailto:notifications@github.com]
Sent: Monday, 30 April 2018 5:32 PM
To: Esri/OptimizeRasters <OptimizeRasters@noreply.github.com>
Cc: STRONK

[2018-05-01 11:38] abhiataero commented on #52
@asalool , it seems you are using vsis3 to access the data for this the system environment variables needs to be setup.
set be below as system environment variables and restart arcmap
AWS_SECRET_ACCESS_KEY=<yoursecret_key>
AWS_ACCESS_KEY_ID=<youraccess_key>
GDAL_HTTP_UNSAFESSL=TRUE

also clean the cache, if still face the issue i can connect with you to identify the issue

[2018-05-01 23:54] asalool commented on #52
@abhiataero the proxy files are accessing raster files through an IAM role, and setting up the AWS_PROFILE variable solve the issue. Thank you all for your assistance, I believe this should be highlighted in the user guide.

[2018-05-06 08:49] #52 closed

[2018-05-24 13:13] vijaygit02 opened #54 "Raster proxies created using the cog conversion have extension as tiff.congtiff"
This issue happens when the raster proxy path is given as one of the option while converting the files. Haven't really tried with just "CreateRasterProxies" Template.
The 2 additional issues related to the the above are:
 1.The source path in the raster proxy also has a file with tif.cogtiff extention.
 2.The raster proxy directory is getting copied to the S3 bucket.

[2018-05-24 13:18] vijaygit02 opened #55 "Please add a support for Requester Pays buckets."
The requester pays buckets needs some additional headers to be passed along while making an http request, which are not supported in the current version.

[2018-05-30 19:24] B-Carson opened #56 "Running optimize rasters script"
I'm trying to run the Optimize Rasters script to generate a MRF which will reside in S3 from a directory of TIFF images (8-bit unsigned). However, I'm running into a warning which is causing the tool to fail 17 seconds into execution. The warning is as follows:

Executing: OptimizeRasters Imagery_to_MRF_LERC Local Profile " " C:\arcgis\ArcTutor\Raster\Data\Amberg_tif # "Amazon S3" pyadav brianmrft

[2018-05-31 02:29] Chamlika commented on #56
@B-Carson Could you check if there's an OptimizeRasters job file with the extension .orjob file created where the Optimizerasters is installed/where the Optimizerasters.py is located. If there's a job file created each time you try to run this command, could you tell me how big in size that job file is. If there isn't such a job file created, it's possible the depth of subfolders to process at the

[2018-05-31 13:10] B-Carson commented on #56
@Chamlika

It ended up being a bad connection as a result of the settings in the Profile Editor. Once I reran the Profile Editor with the corrected parameters, I was able to run my source TIFF files through the OptimizeRasters script.

However, I'm noticing some odd behavior in 10.5.1, 10.6 and ArcGIS Pro 2.2. In 10.5.1 and 10.6, I can bring in a single raster proxy file which was created from Opt

[2018-06-01 19:21] Petwet2000 opened #57 "Create Raster Proxy Failing"
Hi I copied some tiff's to S3 bucket then tried to create raster proxies to a local machine and the process fails with following message:
"Processing caching operations...
log-msg:Applying compression (/vsicurl/http://cpimagery.s3.amazonaws.com/amberg/090160.tif)
log-msg:warnings/errors:
log-msg:ERROR 11: HTTP response code: 307 - Failed writing header
log-msg:Status: (FAILED).
log-msg:Done..

log

[2018-06-15 22:43] #30 closed

[2018-06-15 23:06] Chamlika commented on #53
@KazzaS I believe the problem could be due to lack of disk space. This could be the reason why the gdaladdo.exe was stuck in the background or it could be data specific if it was known to happen only with few rasters. Yes, setting the -tempinput can run you into the risk of using up disk space before processing. If you omit -tempinput however,  the rasters will be processed directly without the ne

[2018-06-15 23:15] Petwet2000 opened #58 "Working with Private Data in S3 & EC2 using OptimizeRaster"
Hi,
I am working with some satellite and elevation data in a private bucket on S3. I am using IAM role to access the data. When i try to build raster proxies from EC2 using OptimizeRaster, the process keeps failing (403 error). How do I pass the "-usetoken=true" command using OptimizeRaster(OR) UI? Also I found a previous post (52) that suggested setting system variables which I did build can't ge

[2018-06-15 23:48] Chamlika commented on #58
@Petwet2000 -useToken is not yet supported through the UI but expected to get it in the next update.

[2018-06-15 23:54] Petwet2000 commented on #58
Thanks for responding. Any ideas when that will be? Also will OR UI work with the system variables required when using IAM role?

Thanks

[2018-06-16 01:01] Chamlika commented on #58
@Petwet2000 By next week. System environment variables should've always worked within the UI. Could you tell me what environment variables that you need to set for IAM roles? Presently there isn't any need in OptimizeRasters to set any environment variables by users unless you need to set any for GDAL.

[2018-06-16 02:03] Petwet2000 commented on #58
Hi,
I had to set the following system variables for the command line to work properly.
AWS_SECRET_ACCESS_KEY=<yoursecret_key>
AWS_ACCESS_KEY_ID=<youraccess_key>
GDAL_HTTP_UNSAFESSL=TRUE

What I found is that running the create raster proxy script without setting the variables produced raster proxies that does not display in ArcMap. I can see them in the folder but no image.

[2018-06-21 13:29] Chamlika commented on #58
@Petwet2000 GitHub has been updated.
UseToken key is now supported within the OptimizeRaster GP Tool UI/Advanced/Configuration values table. To enable access to IAM role based restricted data, set the value of UseToken key to True by following the steps shown below,

1. -Use the 'Profile Editor' UI within ArcMap/Pro.
   -Enter a new profile name of your choice.
   -Check on the 'IAM Role Profile'

[2018-06-21 13:44] Petwet2000 commented on #58
Thanks a lot for this Chamlika. I will test it and get back to you. Question:
Since we are using IAM roles with the GUI, why do I need to set environment variables for the process to work?

[2018-06-21 13:45] Chamlika commented on #55
@vijaygit02 Fixed. GitHub has been updated. The OptimizeRasters will now know how to handle requester payer buckets internally. No new flags to set.

[2018-06-21 13:45] #55 closed

[2018-06-21 14:34] Chamlika commented on #58
@Petwet2000 You do not have to set any environment variables manually. Necessary settings will be taken of internally.

[2018-06-21 14:48] Petwet2000 commented on #58
wonderful! I will try this and let you know.

[2018-06-21 17:18] Petwet2000 commented on #58
Hi Chamlika,
Some info for you.
1. Bucket setup with IAM role access.
2. I tried the new workflow you sent with the OR GUI.
3. Raster proxies were created but showed blank in ArcMap.
4. Closed ArcMap and added the following system variables:
   a.	AWS_SECRET_ACCESS_KEY=<yoursecret_key>
        AWS_ACCESS_KEY_ID=<youraccess_key>
        GDAL_HTTP_UNSAFESSL=TRUE

5. Open ArcMap and reran the test of

[2018-06-21 17:22] Petwet2000 commented on #58
Sorry ..that last comment should have been:

"It appears the process doesn't work **without** the system variables. Did you get it to work with the system variables?

[2018-06-21 18:14] Chamlika commented on #58
@Petwet2000 I've a feeling that it's the ArcMap that needs these system environment variables and not the raster proxy file creation process through OptimizeRasters. To confirm, do you see any difference in the output raster proxy files with and without the environment variables set?

[2018-06-21 20:35] abhiataero commented on #58
@Petwet2000 What is the version of ArcGIS, if you have the IAM polices set correctly you will not need the environmental to be set

[2018-06-21 20:37] abhiataero commented on #56
@B-Carson It seems there is permission issue, check if you have access to the data

[2018-06-21 20:37] #24 closed

[2018-06-21 20:38] abhiataero commented on #24
The issue has been fixed

[2018-06-21 20:40] abhiataero commented on #57
@Petwet2000 The issue here also seems with the permission or set the access keys to read the data

[2018-06-21 20:44] Petwet2000 commented on #58
Arcmap version is 10.5 and 10.6. From both versions I have experienced this problem.

[2018-06-21 20:46] Petwet2000 commented on #57
Hi,

This is related to case#58. So we can close this one. Thanks for responding.

Cheers,

[2018-06-21 20:46] #57 closed

[2018-06-21 20:50] abhiataero commented on #58
@Petwet2000 is there any way we can do a screen share

[2018-06-21 20:53] Petwet2000 commented on #58
Yes we can. When are you available? I can send you a webex invite.

[2018-06-21 20:54] abhiataero commented on #58
i am available now, can i have your email

[2018-06-21 21:01] Petwet2000 commented on #58
Ok let's connect. email on its way.

[2018-06-21 21:57] Petwet2000 commented on #58
issue resolved. When using IAM role to access data in S3 the above environment variables are not required. If data is being accessed via public access (vsicurl..) the GDAL_HTTP_UNSAFESSL=TRUE variable is required.

[2018-06-21 21:57] #58 closed

[2018-06-27 08:40] abhiataero opened #59 "Update messaging when using token"
When the usetoken flag is turned on, in the messaging it still shows to be using /vsicurl/ it should should /vsis3/

[2018-07-05 13:39] Chamlika commented on #54
Fixed. Please update to the latest GitHub version.

[2018-07-05 13:39] #54 closed

[2018-07-29 06:49] amrutha2410 opened #60 "For single upload of a file to s3, the s3 output URL is not returned"

[2018-08-06 17:54] abhiataero opened #61 "In GPtool when Copy File Only template is selected Raster Proxy node should be disabled"

[2018-08-30 19:13] michaelblair opened #62 "Unable to initialize (Copy) module!"
![image](https://user-images.githubusercontent.com/22747813/44873781-2d837900-ac67-11e8-9966-cc0774586aa9.png)

[2018-08-30 20:38] Chamlika commented on #62
@michaelblair from the screenshot it looks like the input folder contains the tiff file name as well. Could you enter just the input folder name and check to see if gets through.  Thanks!

[2018-08-30 22:35] michaelblair commented on #62
@Chamlika Thank you for that input.  We're running a test now and all appears to be working.

[2018-08-31 16:39] michaelblair commented on #62
![image](https://user-images.githubusercontent.com/22747813/44924808-7c3e1b00-ad1a-11e8-8e57-4b0566c3b8c8.png)

@Chamlika When trying to create raster proxy using tif that's stored on a S3 bucket.  The workflow we're attempting using: 1. Copy TIF to S3 2. Create raster proxy 3. Publish proxy as image service.  Is this workflow correct or should we modify?  We have a large raster that we want to st

[2018-08-31 18:13] abhiataero commented on #62
@michaelblair are just copying the Tif to S3 or converting and copying to S3

[2018-08-31 19:09] michaelblair commented on #62
We've tried both copying and converting and copying and both methods get the 404 response.

[2018-09-02 06:38] abhiataero commented on #62
@michaelblair it seems the issue is with the permission to the data on s3, can you try to open the s3 URL in the browser and check if you permission

[2018-09-02 07:19] abhiataero opened #63 "Optimize Raster is not able to create proxies for more than 1000 images"
Optimize Raster is not able to create proxies in the input folder has more than 1000 sub folders or images

[2018-09-04 14:47] michaelblair commented on #62
@abhiataero Thanks for the feedback.  I made the S3 folder public and appears that the conversion was successful.  Hopefully last question/issue, when we try and publish an Image Service from resultant RasterProxy we continue to get an error with image service.  Is there a workflow that should be used for that that we're missing?

[2018-09-04 17:45] abhiataero commented on #62
@michaelblair what is the error you are getting
- is the server same machine that you are building the raster proxy

- Are you publishing the mosaic by refrence or by value

[2018-09-06 15:54] michaelblair commented on #62
@abhiataero The workflow that I'm following is:
1. From local machine run Imagery_To_MRF_LERC for .tif - success
2. Copy resulting MRF to S3 - success
3. Create raster proxy utilizing MRF in S3 and save proxy to local machine - success
4. Publish raster proxy as Image service in 10.6 - crash of ArcCatalog

[2018-09-23 10:31] CrisDsouza opened #64 "Add enhancement for optimize rasters to handle German characters while generating MRFs and Raster Proxies"

[2018-09-23 10:47] CrisDsouza opened #65 "Add support for the exclude filter node to handle wildcard entries"

[2018-10-02 08:20] abhiataero opened #66 "some of the GDAL user parameters are not taken in account"
When using MRF_LERC template, i have defined the GDAL user parameter -co OPTIONS="DEFLATE=ON"

the output generated ignored it

[2018-10-09 16:01] slibby opened #67 "CreateRasterProxy Template blocks entry of Output Temporary Folder"
If using the .pyt `OptimizeRasters` with the CreateRasterProxy template from local to S3, the tool fails and errors that the Output Temp Folder is missing, but the UI blocks that folder from being set.

![image](https://user-images.githubusercontent.com/1691225/46681990-ad2b2e80-cba9-11e8-8520-3b68aac819f8.png)

![image](https://user-images.githubusercontent.com/1691225/46682022-bfa56800-cba9-11e8

[2018-10-09 16:28] slibby commented on #67
I understand this may not be the right workflow - so if that is irrelevant disregard and close this issue. I was able to get things working using `Imagery_to_MRF_LERC`->`CopyFilesOnly`->`CreateRasterProxy`

[2018-10-12 15:29] jameswelliott opened #68 "Add support for reading from VRTs"
Reading from VRTs would be very useful, or at the minimum, allow the selection of what bands of the source raster we want to have in the optimized output please.

[2018-10-12 19:51] PBecker92373 commented on #68
To define bands etc check out GDAL_Translate_UserParameters in the documentation. You can defined -b1 -b2 -b3 etc

[2018-10-19 21:49] stormchasing opened #69 "OptimizeRastersLambdaFX.zip missing from repo"
OptimizeRaster_Lambda_UserDoc has a link to the Lambda function on page 1 (https://github.com/Esri/OptimizeRasters/tree/master/Setup/Lambda) , but the zip file is not at the link location or anywhere else in the repo.

[2018-10-21 07:12] Chamlika commented on #69
@stormchasing The lambda setup is now on GitHub. Thanks!

[2018-10-21 07:12] #69 closed

[2018-10-23 20:05] slibby opened #70 "Profile Editor no longer displays IAM Role option - Update Documentation"
IAM Roles are no longer set up in the profile editor, as I understand it, but are assumed during the run of OptimizeRasters. This change seemed to happen in https://github.com/Esri/OptimizeRasters/commit/0c12b265add6473774db35ac377c8e892d39f6ca but was not noted in the release notes.

Can we update the documentation to better reflect how to use IAM roles? I was very confused for a few hours as the

[2018-10-23 20:45] slibby opened #71 "IAM Roles now require ListBuckets?"
It appears to me that using IAM roles now requires that role to have ListBuckets available as an IAM privilege. This was not the case prior to the most recent release and reflects a security issue for some organizations as ListBuckets is a broad privilege. I believe this could be addressed in the .pyt quite simply somewhere around lines https://github.com/Esri/OptimizeRasters/blob/master/OptimizeR

[2018-10-23 21:41] slibby commented on #71
a hacky fix to this can be found here: https://gist.github.com/slibby/ef2e2b542b5e29e926f1ada33ae19f00

By removing a bunch of tool validation, this lets you enter bucket names manually.

[2018-10-24 02:19] gbrunner commented on #71
@slibby I also run into this ListBuckets issue when trying to run **Profile Editor**. The error I get says: *An error occurred (InvalidAccessKeyId) when calling the ListBuckets operation: The AWS Access Key ID you provided does not exist in our records*.

@PBecker92373 @ewindahl I could see this being an issue for users who don't have access to all the buckets in an account. Does there need to be

[2018-10-24 19:02] slibby commented on #71
@abhiataero @Chamlika any feedback on this?

[2018-10-24 19:35] Chamlika commented on #71
@slibby Could you resort to using the OptimizeRasters via the console/DOS window until the UI fix is made available?

[2018-10-26 21:39] stormchasing opened #73 "Not getting rasterproxyfiles in synchronously called lambda"
I'm passing in a rasterproxypath, but the rasterproxyfiles in respJSON from the lambda function call is always empty. Is there something I need to be doing to get the rasterproxy information back from the lambda call?

[2018-10-28 16:25] stormchasing opened #74 "Incorrect path for GDAL library files given in lambda docs"
Instructions call for the LD_LIBRARY_PATH environment variable to be set to /var/task/GDAL/lib, but these files are in /GDAL/bin in the lambda zip so the variable should be /var/task/GDAL/bin.

[2018-10-29 09:05] #71 closed

[2018-10-29 09:06] Chamlika commented on #74
@stormchasing Thank you for reporting. Will have the doc updated.

[2018-10-30 15:54] slibby opened #76 "IAM Roles not working on Command Line"
With the latest updates, it appears to me that the profile is not being recognized properly when using command line OptimizeRasters + IAM Roles. The UI uses `Using_EC2 Instance_with_IAM_Role` as the option for the profile. If I enter this in the command line, I need to wrap it in double-quotes like `-inputprofile="Using_EC2 Instance_with_IAM_Role"` as it includes a space (should it?) - and it fail

[2018-10-31 17:04] shingike opened #77 "Raster Proxy process creates blank images"
We are processing large amount of UAV data from various format such as jp2, tif and jpeg into mrf/jpeg compression and uploading them to our Amazon S3 bucket. Our plan is to create raster proxy and create mosaic dataset using MDC.py and serve them through our ArcGIS Image Server.  We were successfully uploaded optimized mrf files over to S3; however, it is failing to create readable Raster Proxy f

[2018-11-01 10:10] abhiataero commented on #68
@jameswelliott if you have VRT as input in that case in the template set VRT as a Rasterformat, and the file extension that it refers needs to be set in the exclude filter
<RasterFormatFilter>vrt,VRT</RasterFormatFilter>

    <ExcludeFilter>tif,tiff,TIF,TIFF,img,jp2,JP2,IMG,JPG,jpg,sid,SID,tmp,rrd,idx,lrc,mrf_cache,pjp,ppng,pft,pzp,ovr,aux.xml,aux,tfw,TFW,pjg</ExcludeFilter>

[2018-11-01 10:10] #68 closed

[2018-11-01 10:13] abhiataero commented on #76
@slibby can you upgrade to the recent version of optimize Raster and check, i have tested it out and works

Does the EC2 instance you are running have IAM role attached

c:\Python27\ArcGIS10.6\python.exe c:\Image_Mgmt_Workflows\OptimizeRasters\OptimizeRasters.py  -config=c:\Image_mgmt_Workflows\OptimizeRasters\Templates\CreateRasterProxy.xml -clouddownload=true -inputbucket=eeeeee -clouddownloadty

[2018-11-01 10:18] abhiataero commented on #77
@shingike
In the raster proxy C:/Image_Mgmt_Workflows/OptimizeRasters/Templates/CreateRasterProxy.xml"

the RasterFormatFilter is missing mrf it should be
<RasterFormatFilter>tif,tiff,TIF,TIFF,JP2,jp2,ntf,NTF,img,jpg,mrf,MRF</RasterFormatFilter>

[2018-11-01 11:40] jameswelliott commented on #68
Thanks!

I’ll give that a shot.

  *   James

From: Abhijit Doshi <notifications@github.com>
Reply-To: Esri/OptimizeRasters <reply@reply.github.com>
Date: Thursday, November 1, 2018 at 6:10 AM
To: Esri/OptimizeRasters <OptimizeRasters@noreply.github.com>
Cc: James Walter Elliott <James.W.Elliott@toronto.ca>, Mention <mention@noreply.github.com>
Subject: Re: [Esri/OptimizeRasters] Add support for r

[2018-11-01 15:07] shingike commented on #77
Hi abhiataero,
Thanks for your comment.  As you have mentioned, the missing mrf on the RasterFormatFilter was one of issues I had.  I got it to work after fixing followings:

1. Add mrf, MRF to RasterFormatFilter.
2. Add idx,pjg,aux.xml to ExcludeFilter (to avoid unnecessary copy)
3. Add -usetoken="true" to use vsis3 for accessing secured bucket (mentioned in the Appendix B on the user document)
4

[2018-11-01 15:45] slibby commented on #76
@abhiataero Yes, we have an IAM role attached - I am testing with the latest version as well (from 3 days ago). So is what you're saying that the argument should be `"Using_EC2_Instance_with_IAM_Role"` with the underscore between EC2 and Instance?   I am trying to test further but having issues now with GDAL loading dlls.

[2018-11-01 15:48] slibby commented on #76
Ah! Setting usetoken=true made it use vsis3 - this works now! Is there something that we can update in the doc to reflect that?

[2018-11-01 16:13] slibby commented on #76
Interestingly, it seems to work using Desktop 10.6.1 Python:
[code]

but not work in Pro Python:

![image](https://user-images.githubusercontent.com/1691225/47864246-c2693680-ddbe-11e8-8259-217329b2e0fb.png)

[2018-11-02 16:06] shingike commented on #77
Hi abhiataero,
I am reopening this issue due to the re-occurrence of the exact same issue in my aws production machine. I have copied the working raster proxy files into a directory in aws production machine which has ArcGIS Server, Pro (2.1.2), Optimize Raster (2.0.2), and MDCS ().  The raster proxy and cache directories are under D:\drone_data directory and shared as data store in AGS.  When I c

[2018-11-02 19:37] jdrisdelle commented on #77
I've never used optimize rasters @jgravois .  This is something that Peter and Abhijit from the solutions team manages.

[2018-11-02 21:02] jgravois commented on #77
this is unfamiliar territory for me, but a colleague pointed out that its crucial that the cache directory be local on each ArcGIS Server machine. a network share is apparently a recipe for problems.

you mean you [registered a raster store](https://enterprise.arcgis.com/en/server/latest/publish-services/windows/registering-your-data-with-arcgis-server-using-manager.htm#ESRI_SECTION1_BF6287C0DD5B4

[2018-11-04 09:49] Chamlika commented on #63
@abhiataero  The issue was related to input path that has >1000 (subfolders) and not when >1000 rasters at root of the input path. The issue has been corrected to work with larger number of subfolders as well.

[2018-11-04 09:50] Chamlika commented on #63
Fix to be made available in the next GitHub push.

[2018-11-04 13:31] #63 closed

[2018-11-05 06:10] #76 closed

[2018-11-05 06:20] Chamlika commented on #67
@slibby CreateRasterProxy template is to be used when you've source rasters on a cloud store and you'd like to create proxy files (locally) so that the original rasters can be referenced.  Is there any reason why you'd want to push the locally produced raster proxy files to cloud?

[2018-11-05 10:23] abhiataero commented on #77
@shingike
can you upgrade the version of ArcGIS Pro to 2.2 and try it out.

[2018-11-05 15:38] shingike commented on #77
@jgravois
Thank you for taking a look! This image workflow can chain multiple raster processings to optimize raster data to MRF format and create a mosaic dataset for ArcGIS Server to disseminate tiled images to the organization.  We are trying to optimize post processed UAV data and publish its mosaic dataset to AGS.

@abhiataero
Thank you for the tip! Upgrading to 2.2.3 fixed the issue to displa

[2018-11-05 15:58] slibby commented on #67
@Chamlika thanks - This was my misunderstanding early in my OptimizeRasters days :)

[2018-11-05 15:58] #67 closed

[2018-11-06 16:42] slibby commented on #76
@Chamlika the "secured bucket" checkbox seems to only be available for the input bucket, is there an option for the output bucket that should be there?

[2018-11-07 03:54] shingike commented on #77
Thanks for all for the suggestions and assistance to the optimize raster configurations. I will close this issue since any issue to the MDC.py should be discussed in its own repo.

[2018-11-07 03:54] #77 closed

[2018-11-11 12:11] Chamlika commented on #76
@slibby There was an issue with not updating the raster proxy files URL prefix properly when the input was from the local disk and context was an IAM Role based machine. This has been fixed on the last GitHub push. Thank you for catching it.
The 'secured bucket' checkbox is a common flag that acts on both the input and the output bucket.

[2018-11-11 17:41] slibby commented on #76
Thanks @chamlika, in the case of a master to mrf/ local to S3 operation, how would you check the ‘Secured Bucket’ checkbox as it only appears in the input section when Input=S3 is checked.
________________________________
From: Chamlika Wickramasinghe <notifications@github.com>
Sent: Sunday, November 11, 2018 5:11 AM
To: Esri/OptimizeRasters
Cc: Sam Libby; Mention
Subject: Re: [Esri/OptimizeRaster

[2018-11-15 21:49] ewindahl commented on #74
Lambda doc is updated. Thanks, @stormchasing.

[2018-11-15 21:49] #74 closed

[2018-11-15 22:55] stormchasing commented on #73
Okay, I was curious since I saw an empty "RasterProxyFiles" object being created in lambda_function.py. I was going to try and toss that json into an SNS topic. I think I'll go ahead and see if I can do what needs to be done to get that object to populate with the rasterproxy files. Trying to accomplish a serverless workflow using lambdas since we have two times per day when a few thousand tiffs a

[2018-11-15 23:07] stormchasing opened #78 "Lambda /tmp directory not cleared before invocation reuse"
When calling the lambda for hundreds of files at once I was getting failures due to lambda invocations that were running out of the available 640 MB. I raised the memory limit to 1024 MB and again saw out-of-memory failures. I eventually discovered this was due to files from previous lambda runs being left in the /tmp directory of a lambda that was being reused by AWS. I've temporarily solved this

[2019-01-14 17:01] stormchasing opened #79 "isLinux function returns False when using Mac"
Can the isLinux method in the Base class of OptimizeRaster also return True when sys.platform is 'darwin'? This will help those of us running or testing on Macs

[2019-01-23 09:38] Chamlika commented on #79
@stormchasing Darwin OS is now recognized as Linux. Thank you!

[2019-01-23 09:38] #79 closed

[2019-02-07 13:17] alexkemp94 opened #80 "Tool does not upload data to Azure blob storage when run out of ArcGIS Pro"
When trying to convert .tif imagery to MRF and upload to Azure blob storage using the OptimizeRasters tool in ArcGIS Pro, the converted MRF files were being created and stored in the local temp folder but they were not being uploaded to the storage container. The tools appears to rrecognise the the container but cannot access it. This appears to be the case for all machine that are running the too

[2019-02-13 09:49] Chamlika commented on #80
@alexkemp94 Could you check with the latest code changes on GitHub to see if everything looks OK with OptimizeRasters using Azure within the ArcGIS Pro? Thanks!

[2019-02-13 14:50] alexkemp94 commented on #80
Hi @Chamlika, thanks for getting back to me on this. I've just tested the updates and it appears that the MRF files do indeed appear in an Azure Storage Container when using the OptimizeRasters tool in Pro now - thanks! However, I'm having trouble reading the .mrf raster proxy files back in Pro after they have been created. The images appear with the correct dimensions but there are no data values

[2019-02-15 03:17] yh371174229 opened #81 "When will we support Ali Yun?"
I am a Chinese user. I want to know if I will consider supporting cloud storage in China in the future, such as Aliyun and Tencent Cloud.

[2019-02-17 12:57] Chamlika commented on #81
@yh371174229  Aliyun OSS is compatible with the Amazon S3 APIs. This means, OptimizeRasters has the necessary code added to read and write to Alibaba OSS. However this is not yet documented but I'll see to pass on the required information for you to test.

[2019-02-17 14:19] yh371174229 commented on #81
Thank you very much,hope to test it

[2019-02-18 09:05] Chamlika commented on #81
@yh371174229 Few notes below,
I've updated the GitHub code, please pull before any tests. OptimizeRastes treats aliyun OSS as a S3 compatible cloud store. Installation of the OSS Python SDK is not required.
Please follow the instructions below to connect with the Aliyun OSS/Alibaba,
Using the Profile Editor,
   a. Profile Type => Amazon S3
   b. Profile Name => User choice.
   c. Access/Account Ke

[2019-02-18 11:56] abhiataero commented on #80
closing the issue as per discussion with @alexkemp94 the issue is fixed

[2019-02-18 11:56] #80 closed

[2019-02-19 06:31] #81 closed

[2019-02-22 18:53] #45 closed

[2019-02-25 07:40] Chamlika opened #82 "Add support for esri Grid format"

[2019-02-26 15:00] robertd opened #83 "Is this project versioned?"
Hello,

We are about to include this project as a dependency for some of our MRF processing pipelines, but we cannot figure out if this project is versioned. There is no changelog.md, tags, releases or anything else other than v2.0.2 in the readme files. As we would include this repo as git submodule we're a bit reluctant that not having versions/tags we could bring in possible regressions as well

[2019-02-26 16:43] Chamlika commented on #83
Presently with each GitHub push, the header information in each source file gets updated to reflect the last code update date and the new version number. Notes of any changes that include enhancements and/or bug fixes is added to the description text during each commit and push operation. Presently any pdates to OptimizeRasters is dynamic in nature and is not tied with any other release cycles.

[2019-03-04 15:28] Chamlika opened #84 "Support for AWS S3 pre-signed URLs to access data."

[2019-03-04 15:30] Chamlika commented on #82
Will be available with the next official release.

[2019-03-04 15:37] Chamlika commented on #83
@robertd There's a single release available now to reflect the branch master as of 20190304.  The project will be versioned to include any major updates in the future. Thanks!

[2019-03-04 21:15] robertd commented on #83
@Chamlika Hey thanks. That helps a lot.

[2019-03-04 21:15] #83 closed

[2019-03-06 10:28] #49 closed

[2019-03-06 10:30] abhiataero commented on #62
@michaelblair check with the updated version of Optimize raster the workflow about works fine

[2019-03-06 10:30] #62 closed

[2019-03-06 10:30] abhiataero commented on #61
@Chamlika
has this been fixed

[2019-03-06 10:34] Chamlika commented on #61
Don't think so, check if still exists and see if anyone could provide a fix for it. Thanks!

-Chamlika

Sent from phone

________________________________
From: Abhijit Doshi <notifications@github.com>
Sent: Wednesday, March 6, 2019 2:30:56 PM
To: Esri/OptimizeRasters
Cc: Chamlika Sudarsha Wickramasinghe; Mention
Subject: Re: [Esri/OptimizeRasters] In GPtool when Copy File Only template is selected

[2019-04-16 16:22] kafisher36 opened #85 "Raster Proxy black images"
I am using the Optimize Rasters tool in ArcGIS Pro v2.3.0.  My end goal is to take my local tif images and create the image in S3 bucket, build a mosaic dataset from the raster proxy in the SDE and generate image service in Portal for ArcGIS.  I used the configuration file, Imagery_to_MKR_LERC and it ran without errors.  The images in the S3 bucket look good, however when adding the local raster p

[2019-04-16 17:45] lucianpls commented on #85
Sounds like a bucket access problem, from the client machine.

If the client application is an arcgis server, the arcgis user has to be able to access the bucket, and it needs write access to the cache folder location.

[2019-04-16 18:24] kafisher36 commented on #85
I have opened the bucket and the contents to public access and I still have the issue.  I also can add the S3 image to the map and view it.  It is just the local raster proxy that provides the black image.

[2019-04-16 18:31] Petwet2000 commented on #85
Did you set the S3 environment variables?

From: kafisher36 <notifications@github.com>
Sent: Tuesday, April 16, 2019 2:25 PM
To: Esri/OptimizeRasters <OptimizeRasters@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Subject: Re: [Esri/OptimizeRasters] Raster Proxy black images (#85)

I have opened the bucket and the contents to public access and I still have the issue. I also can

[2019-04-16 18:35] Petwet2000 commented on #85
The
[cid:image001.png@01D4F461.8E9F5A00]

From: Christopher Patterson
Sent: Tuesday, April 16, 2019 2:32 PM
To: Esri/OptimizeRasters <reply@reply.github.com>
Subject: RE: [Esri/OptimizeRasters] Raster Proxy black images (#85)

Did you set the S3 environment variables?

From: kafisher36 <notifications@github.com<mailto:notifications@github.com>>
Sent: Tuesday, April 16, 2019 2:25 PM
To: Esri/Optimi

[2019-04-17 14:44] kafisher36 commented on #85
Yes, I set the environment variables to use the AWS credentials.

[2019-04-17 14:54] Petwet2000 commented on #85
- Are you using the latest build of OptimizeRaster from GitHub?
- Can you tell me what the format of the images are? The format before apply Imagery_MRF_Lerc optimization.
- Was it Tiff, JPG etc?
- Also are you able to share one of the (public) proxy files for review?

[2019-04-17 15:05] kafisher36 commented on #85
I am using OptimizeRaster v2.0.2 that I just downloaded at the beginning of April.  The images are Tiffs.  And yes, I have attached the local proxy file.  The raster is in a public S3.
[Downtown.zip](https://github.com/Esri/OptimizeRasters/files/3090256/Downtown.zip)

[2019-04-17 15:14] Chamlika commented on #85
@kafisher36  Could you please check with the latest on GitHub. The version on GitHub is v2.0.4.  Thanks!

[2019-04-17 15:22] kafisher36 commented on #85
@Chamlika Could you please send me the download URL for 2.0.4?  I only see the 2.0.2 release from March 4, 2019.

[2019-04-17 15:27] Chamlika commented on #85
@kafisher36 https://github.com/Esri/OptimizeRasters/raw/master/Setup/OptimizeRastersToolsSetup.exe

[2019-04-17 16:20] kafisher36 commented on #85
I reran it with the same outcome.

[2019-04-17 16:40] Chamlika commented on #85
@kafisher36 Do you think you can give us the converted MRF source files (idx, lrc,mrf) that the proxy file is pointing at or if you could, the gdalinfo on the original raster before the conversion. Thanks!

[2019-04-17 17:29] kafisher36 commented on #85
Here is the URLs to the MRF source files:
https://s3-us-west-2.amazonaws.com/gistestrasterstorage2/Aerial2017/Downtown.idx
https://s3-us-west-2.amazonaws.com/gistestrasterstorage2/Aerial2017/Downtown.lrc
https://s3-us-west-2.amazonaws.com/gistestrasterstorage2/Aerial2017/Downtown.mrf

Thanks in advance for your help.

[2019-04-17 19:03] Chamlika commented on #85
@kafisher36 Can you check if the attached raster proxy works for you? it looks like the aws region isn't included in the URL. Thanks!
[Downtown.zip](https://github.com/Esri/OptimizeRasters/files/3091150/Downtown.zip)

[2019-04-17 19:11] kafisher36 commented on #85
This works!  Can you explain how to add the aws region?

[2019-04-17 19:24] Chamlika commented on #85
@kafisher36 OK. OptimizeRasters should reflect the AWS domain/region automatically in the raster proxy files unless it's the default which is us-east-1. I'm assuming here your processed data (lrc,idx,mrf) live in us-west-2 region. The hint was in the URLs to download the test files. This could be a potential bug in OptimizeRasters but I need to test when I get a chance to see if this is indeed the

[2019-04-17 20:03] kafisher36 commented on #85
@Chamlika Yes, they are in the us-west-2 region.

[2019-04-18 11:48] Chamlika commented on #85
@kafisher36 I'd like to know how was the proxy file created, was it created automatically while the processed data was being uploaded to S3 using the -rasterproxypath or was it created separately in another session by using the CreateRasterProxy template giving the processed rasters on S3 as input? Thanks!

[2019-04-18 14:06] Chamlika commented on #85
@kafisher36 The issue will require a fix in OptimizeRasters. According to Amazon, for some buckets that are outside of the default region (us-east-1), the region has to be explicitly set in the endpoint URL to avoid errors due to delays in DNS synchronization on their side. You'll be notified once fixed and tested. Thanks!

[2019-04-18 14:51] kafisher36 commented on #85
@Chamlika The proxy file was created automatically while using the Imagery_to_MKR_LERC configuration.  Thank you!

[2019-04-18 15:57] Chamlika commented on #85
@kafisher36 Could you give it a try with the updated *OR source attached to see if the issue has been resolved. Have the original source from the *OR setup replaced with the attached, and close any ArcGIS/Pro sessions that may be open before any tests. Thanks!
[OptimizeRasters.zip](https://github.com/Esri/OptimizeRasters/files/3095198/OptimizeRasters.zip)

[2019-04-18 18:14] kafisher36 commented on #85
@Chamlika Unfortunately I still have the same results.  I double checked and the new .py file is in the toolbox and I closed and reopened Pro after adding the .py file and prior to running the tool.

[2019-04-18 19:33] Chamlika commented on #85
@kafisher36 Could you pass me the newly generated proxy file? If you've ArcMap, could you check on that too. I'm beginning to think it could be a rendering issue here. Let's see. Thanks!

[2019-04-18 19:46] kafisher36 commented on #85
[Downtown.zip](https://github.com/Esri/OptimizeRasters/files/3095939/Downtown.zip)
@Chamlika Thanks for reviewing it.

[2019-04-18 20:18] Chamlika commented on #85
@kafisher36 The updated source should've added the region into the proxy URL unless the output cloud region is the default  'us-east-1'. Could you pass me log files for the last run located at c:\Image_Mgmt_Workflows\OptimizeRasters\logs
Thanks!

[2019-04-18 20:26] kafisher36 commented on #85
@Chamlika Here is the log file.

[OR_20190418T103235666398_20190418T105158.zip](https://github.com/Esri/OptimizeRasters/files/3096064/OR_20190418T103235666398_20190418T105158.zip)

[2019-04-18 20:52] Chamlika commented on #85
@kafisher36
OK got it.
Let's do the followings,
1. Open up a DOS window and type in notepad %userprofile%/.aws/credentials
2. Search for the output profile 'kahenrik'
3. Remove the line 'aws_endpoint_url = https://s3.amazonaws.com'
4. Save the credentials file and rerun *OR to test.

Let me know, thanks

[2019-04-18 23:12] kafisher36 commented on #85
@Chamlika

I did complete your above directions and rerun it but unfortunately I still get a black image.

[2019-04-19 02:58] Petwet2000 commented on #85
Chamlika,
The only way I was able to view the file you sent was to remove the "clone=’true’ statement in the proxy file. However it was slow to load. Maybe if "pyramids" value was set to ‘source’ while generating raster proxies if might improve performance. Don't know why but that was what worked for me.

[2019-04-19 03:01] Petwet2000 commented on #85
Updated proxy attached.
[Downtown_Updated.zip](https://github.com/Esri/OptimizeRasters/files/3096863/Downtown_Updated.zip)

[2019-04-19 03:06] lucianpls commented on #85
The clone mode only works if the cache has exactly the same organization as the source, so that tiles can be copied over.  It has to match tile size and alignment, compression, data type, almost everything.
And indeed, if it doesn't match something it will break and ArcGIS will show black.
When it does match, it saves some time because it doesn't need to encode the cache tiles.  But it shouldn't b

[2019-04-19 03:11] Chamlika commented on #85
@kafisher36 Could you check if your degenerated proxy file URL now shows (us-west-2)? Thanks!

[2019-04-19 10:01] Chamlika commented on #85
@kafisher36
OK, it looks like this is what has happened to you,
when you initially had this issue, the raster image returned was (black) and this was due to possible DNS issue on the Amazon side where some buckets may need the region in the request (URL) set to allow access. However the updated *OR code sent later explicitly sets the region that the output bucket was created in, in your case it's

[2019-04-19 14:46] kafisher36 commented on #85
@Chamlika This works!  Both the old proxy file and the new one that was sent work.  Thank you so much for your assistance!

[2019-04-19 17:20] kafisher36 commented on #85
@Chamlika Unfortunately all subsequent conversions using the Imagery to MRF LERC configuration are returning a black image.  Can you help me understand what is causing this?

[2019-04-19 17:30] Chamlika commented on #85
@kafisher36 I suspect it's a region us-west-2 issue. Could you upload the exact dataset to another region like to a us-east-1 bucket and see if it's the same issue? Thanks!

[2019-04-19 17:50] kafisher36 commented on #85
@Chamlika I created a new bucket in N. Virginia and reran the tool.  Unfortunately the raster proxy returns a black image still.

[2019-04-19 18:48] Chamlika commented on #85
@kafisher36 Do you think you could arrange us a sample raster to test this issue further. If not, could you do a gdalinfo on the original Tiff file and give us that information. Thanks!

[2019-04-19 20:14] kafisher36 commented on #85
@Chamlika It actually still happens on the image I was using prior as well as the other TIFFs. Here is the URL to the image.  https://s3-us-west-2.amazonaws.com/gistestrasterstorage2/TIFF/Downtown.tif

[2019-04-21 06:37] Chamlika commented on #85
@kafisher36 I'm not able to download the raster 'download.tif', access-denied.

[2019-04-21 08:01] abhiataero commented on #85
@kafisher36 can you share you emailid i can send you an meeting invite so we can do a screen share and take a look on what is really causing this.

[2019-04-22 15:24] kafisher36 commented on #85
@Chamlika I apologize for the access issue.  I've made it public now.

[2019-04-23 20:13] kafisher36 commented on #85
@abhiataero My email is karenfisher@asu.edu if you would still like to screenshare.

[2019-04-24 06:37] Chamlika commented on #85
@kafisher36  I'm not able to reproduce the issue. This could be something new for us. @abhiataero will follow up with you with a screen share to find a possible solution. Thanks!

[2019-04-25 15:52] #85 closed

[2019-04-30 12:40] Petwet2000 opened #86 "Ratser Proxy Caching"
Hi,
With multiple (separate) image services running on the server, how do you turn proxy caching off for one service but not another? For example I would like to turn off MRF Caching for an elevation service that will be used for raster analysis but have caching enabled for imagery service to be used for visualization.

Thanks,

[2019-05-03 19:11] Petwet2000 opened #87 "Profile Editor in Pro Error"
Hi

Azure python tools are installed but I get the following error when I try to create an Azure profile.
![ProfileEditor_Error](https://user-images.githubusercontent.com/12956227/57160052-b2560200-6db5-11e9-8b33-54b12a7d764e.jpg)

[2019-05-04 16:52] Chamlika commented on #87
@petwet2000 Looks like the azure package doesn’t get installed properly when installed via the ArcGIS Pro.

Please follow the following steps to rectify the issue,

1. Open a DOS window as 'run as administrator'

2. Change current working folder to the conda python environment created using ArcGIS Pro. This is the custom project environment path on disk when the default project environment was clo

[2019-05-04 17:55] Petwet2000 commented on #87
Hi Chamlika,

I have done that but still get the same error.
Any other ideas? I might try reinstalling Pro.

Chris

Sent from my iPhone

On May 4, 2019, at 12:52 PM, Chamlika Wickramasinghe <notifications@github.com<mailto:notifications@github.com>> wrote:

@Petwet2000<https://github.com/Petwet2000> Looks like the azure package doesn’t get installed properly when installed via the ArcGIS Pro.

Ple

[2019-05-05 06:49] Chamlika commented on #87
@Petwet2000  Also double check if the ArcGIS Pro/Settings/Python [Python Package Manager]/Project Environment is set to the cloned environment before starting to work on the OptimizeRasters, else please send me your ArcGIS Pro version number.  Thanks!

[2019-05-05 23:43] Petwet2000 commented on #87
Hi Chamlika see the screen shots below.

![image](https://user-images.githubusercontent.com/12956227/57201964-dfe5ab80-6f6d-11e9-9d6e-cba1b7cbc776.png)

![image](https://user-images.githubusercontent.com/12956227/57201973-f25fe500-6f6d-11e9-86e2-afbdbbf8f7bc.png)

![image](https://user-images.githubusercontent.com/12956227/57201978-fb50b680-6f6d-11e9-96f7-1f898c9aa4bd.png)

[2019-05-07 14:12] #82 closed

[2019-05-07 14:14] #65 closed

[2019-05-07 14:15] Petwet2000 commented on #65
This was not resolved. I am still having that issue.

[2019-05-08 09:04] Chamlika commented on #87
@Petwet2000 Please follow the steps below to overcome the issue with azure on v2.3.2. Note, this particular issue may not exist in following versions of ArcGIS Pro.

Unzip the content of the attached azure.zip to the folder c:\Image_Mgmt_Workflows\OptimizeRasters\
Once properly unzipped, inspect the following paths to see if they exist. Here' it's assumed, the OptimizeRasters was installed to the

[2019-05-09 08:56] #59 closed

[2019-05-09 09:09] Chamlika commented on #70
@slibby The OptimizeRasters self detects the run environment (IAM Role based/credential key pair access based/OS type e.t.c.) and the OptimizeRasters takes the necessary steps to grant access or to form the proper URL syntax to allow access to the required AWS resources.
Will have few extra notes on this subject in the next available doc version.

[2019-05-09 12:11] slibby commented on #70
Thanks @Chamlika  I need to test with the current version - I thought it was "mostly" working last time I tried. I will re-post here with an update on issues.

[2019-05-09 12:11] #70 closed

[2019-05-09 12:22] Petwet2000 commented on #87
Hi Chamlika,

The fix didn't work for me. It could have been because I had to revert to Pro 2.2.3.  Is there a fix for Pro 2.2.3? I tried reinstalling but it didn't solve the issue. Funny, it works in ArcMap but not Pro. I am working on a Windows 7 Enterprise system.

[2019-05-09 13:07] Chamlika commented on #87
@Petwet2000 Let me check with 2.2.3. In the meantime, could you make you're on the latest version of OptimizeRasters on GitHub. Thanks!

[2019-05-09 13:09] Petwet2000 commented on #87
How do I check optimize raster version?

[2019-05-09 13:13] Chamlika commented on #87
It's in the OptimizeRasters.py source header in file,
c:\Image_Mgmt_Workflows\OptimizeRasters\OptimizeRasters.py
View the source using notepad/any text viewer and search for # Version:
else grab the setup off GitHub and install it anyway.

[2019-05-09 13:17] Petwet2000 commented on #87
Thanks. I downloaded and installed OptimizeRaster yesterday that has the following version number.
Version: 20190418

Is that the most current? If not where do I find it?

[2019-05-09 13:20] Chamlika commented on #87
@Petwet2000 The latest setup is always placed @ https://github.com/Esri/OptimizeRasters/blob/master/Setup/OptimizeRastersToolsSetup.exe

[2019-05-09 13:21] Chamlika commented on #87
@Petwet2000 or the direct link to download is, https://github.com/Esri/OptimizeRasters/raw/master/Setup/OptimizeRastersToolsSetup.exe

[2019-05-09 13:30] Petwet2000 commented on #87
Thanks for the link. Will try now.

[2019-05-09 13:34] Petwet2000 commented on #87
H Chamlika, I installed the latest version of OptimizeRaster but still get the "No module named Azure storage..." error.

![image](https://user-images.githubusercontent.com/12956227/57457352-5f5cce80-723d-11e9-8edd-ded48f39c498.png)

[2019-05-09 13:37] Chamlika commented on #87
@Petwet2000 Yes, it's a Pro issue, for some reason it doesn't install all the required azure modules.
Let me see how best to provide a solution to this. Thanks!

[2019-05-09 15:16] Chamlika commented on #87
@Petwet2000  Please unzip the attached ZIP content to the folder C:\Users\cpatterson\AppData\Local\ESRI\conda\envs\arcgispro-py3-clone\Lib\site-packages\azure\
This is your cloned project environment path taken from the screenshot above,
The ZIP file contains a single folder named (storage).
Restart ArcGIS Pro, also make sure the clone project environment is the (active) environment selected withi

[2019-05-10 00:50] Petwet2000 commented on #87
It didn't work for me.

[2019-05-10 01:44] Petwet2000 commented on #87
This is what I noticed. If I install Boto3 using command line it is recognized by Pro. Meaning the "Amazon S3" profile type will not give an error. If I Azure via the command line Pro does not recognize that its installed and the Azure Profile option will prompt me to install Azure. Why the difference? It appears that Optimize Raster in Pro will only recognize Azure installation only when its done

[2019-05-10 02:15] Chamlika commented on #87
@Petwet2000 The instructions present in this thread has all that's necessary to bypass the issue but for some reason it isn't working for you. I'd have to ask you to repeat few steps again else we'll have to do a screenshare to get this resolved. If you can please send me your email ID so that I could talk with you.

1. Make sure you're in a DOS window with adminstrative privileges and navigate to

[2019-05-10 21:05] Petwet2000 commented on #87
Hi Chamlika,

Tried again as suggested. Things now working as expected. What I did is:
1. Clone the environment using Pro
2. Install Azure and Boto3 using the scripts you sent
3. Fixed errors associated with Step 2 as suggested. Previously I didn't.

Thanks a lot.

[2019-05-10 21:05] #87 closed

[2019-05-22 06:56] abhiataero opened #88 "Create Raster Proxy with CSV as output gives wrong output"
The CSV output content does not match the regular raster proxy file, the number of band and compression is different

[2019-05-23 09:48] #88 closed

[2019-05-30 19:38] Lorne-CoE opened #89 "Overviews to MRF"
Hi,

I've run into an issue trying to convert overviews to MRF. The process starts fine and then trows a [Errno 13] permission denied.

The log file is as follows:
[code]

Here's the orjob file:

[code]

I get the same error if I use either the Overviews_to_MRF_LERC or Overviews_to_JPEG. I also got the same error trying the process on a different computer.

Cheers

[2019-05-31 08:10] Chamlika commented on #89
Looks like your -output folder is invalid.
Could you check. Thanks!

Sent from phone

________________________________
From: Lorne-CoE <notifications@github.com>
Sent: Thursday, May 30, 2019 11:38:30 PM
To: Esri/OptimizeRasters
Cc: Subscribed
Subject: [Esri/OptimizeRasters] Overviews to MRF (#89)

Hi,

I've run into an issue trying to convert overviews to MRF. The process starts fine and then trow

[2019-05-31 13:56] Lorne-CoE commented on #89
Hi,

The output folder is valid and has the following in it after running the tool the msk files are in D:\mrf_jpeg_overviews\MRF_JPEG_Test.Overviews.

![image](https://user-images.githubusercontent.com/51211968/58709840-421cab00-8378-11e9-8b5d-ed4630006016.png)

But no files are in D:\mrf_jpeg_overviews

![image](https://user-images.githubusercontent.com/51211968/58710310-41384900-8379-11e9-99e2-

[2019-06-09 20:54] #39 closed

[2019-06-10 06:47] abhiataero commented on #86
@Petwet2000, if you dont need caching in that case directly use the url to add the data and do not use raster proxy

[2019-07-02 14:23] sandrews90208 opened #90 "Blob to blob temp files cleardown"
When were converting tif to mrf jpeg going from Azure blob to Azure blob, all input tifs are initially downloaded from source blob to the input temp folder. This is problematic when were processing hundreds of 800MB tiles as our local drives fills up very quickly. However when we run OR local to Azure blob, images are processed in small batches of 4 and the intermediate image is deleted from the o

[2019-08-09 13:39] abhiataero opened #91 "Converting Overvies to MRF_lerc : creates raster proxy in wrong location"
When you convert Overviews to MRF_LERC, the raster proxies are created in wrong location, also the output path is different.
The data file path and index file paths is also wrong

[2019-10-07 23:09] slibby opened #94 "Support .rst raster format"
Am I missing something to get conversion working with .rst (Idrisi format) rasters? It seems to be supported by gdal: https://gdal.org/drivers/raster/Idrisi.html

I tried running OptimizeRasters with `Imagery_to_TIF_JPEG` and `Imagery_to_MRF_JPEG` and both failed to do any conversion. I had to add `'rst'` to `RasterFormatFilter` to get it to recognize the files, but it seems to fail for unknown re

[2019-10-07 23:13] lucianpls commented on #94
@slibby
Run gdalinfo on one of the input "rst" and post the output.

[2019-10-07 23:16] slibby commented on #94
See below:
[code]

[2019-10-07 23:18] lucianpls commented on #94
@slibby
Not sure if this is the full extent of the problem, but JPEG compression can't handle 16bit signed data.
You can try LERC, DEFLATE or LZW.

[2019-10-07 23:26] slibby commented on #94
Seems to fail the same way when using Imagery_to_TIF_LZW or Overviews_to_MRF_LERC

[2019-10-07 23:33] slibby commented on #94
I was able to translate it with `gdal_translate` successfully, so I think it's something in the Python, not an issue with GDAL, or so it seems to me:

![image](https://user-images.githubusercontent.com/1691225/66356541-8ae8ff80-e928-11e9-9ec3-23493301e92d.png)

[2019-10-08 00:30] lucianpls commented on #94
That command only built a raw tif (uncompressed).  But yes, you might be right, I'm not that familiar with the OR python part.

[2019-10-08 15:32] slibby commented on #94
`c:\temp\gaez\src>c:\Image_Mgmt_Workflows\OptimizeRasters\GDAL\bin\gdal_translate.exe -of MRF -co "COMPRESS=LERC" alfa200a_cbd.rst alfa200a_cbd.mrf
Input file size is 4320, 2160
0...10...20...30...40...50...60...70...80...90...100 - done.`

Also works exporting to compressed MRF (the output MRF works in Pro too).

[2019-10-10 18:14] lucianpls commented on #94
@slibby
RST seems to be a multi-file format, and the log says something about copying files to some temporary location.

There is a addRelatedExtensions(), called in OptimizeRasters.py, line 1571 and 1572
It takes two strings of semicolor separated extensions, first string has the main file extension, and the second one for secondary file extensions.

Maybe adding this line at 1573 will help:
`
se

[2019-10-13 16:53] abhiataero commented on #94
@slibby i modified the config file (Imagery_to_MRF_LERC.xml) to add the raster filter,
<RasterFormatFilter>tif,tiff,TIF,TIFF,img,jp2,JP2,IMG,JPG,jpg,sid,SID,**rst,RST**</RasterFormatFilter>
<ExcludeFilter>tmp,rrd,idx,lrc,mrf_cache,pjp,ppng,pft,pzp,ovr,aux.xml,aux,tfw,TFW,pjg,**RDC,rdc**</ExcludeFilter>

Used the below command "c:\Program Files\ArcGIS\Pro\bin\Python\envs\arcgispro-py3\python.exe" c

[2019-10-13 16:55] abhiataero commented on #91
@Chamlika  has this been fixed

[2019-10-28 16:00] BradleyBurrellSD opened #95 "Failed Conversion to COG, Missing codec"
I am trying it implement OptimizeRasters to convert GeoTIFs to COGs as part of a larger workflow, but I am unable to open the resulting COGs due to a Missing Codec, via the following code:
[code]

to which I am getting this output,

I am using a tile for the Ordnance Survey's [1:250 000 Scale Colour Raster](https://www.ordnancesurvey.co.uk/business-government/products/250k-raster), as test data.

[2019-10-29 10:30] Chamlika commented on #95
@BradleyBurrellSD This could be something internal to 'validate_cloud_optimized_geotiff' code but I'm not sure at this point if it's related to the output COG raster generated by the OR. To test, could you update the CMD in code as shown below and give it a try. I'd like to add a COG template supplied by OR setup to the CMD to see if that works.

config = r'c:\Image_Mgmt_Workflows\OptimizeRasters\

[2019-10-29 10:55] BradleyBurrellSD commented on #95
@Chamlika, I have mended the code as such
[code]
The only change to your comment was to change the pathway to match my system.

I'm afraid that didn't work resulting in this output:

The file used is uploaded here: [OptimizeRaster_Input.zip](https://github.com/Esri/OptimizeRasters/files/3783153/OptimizeRaster_Input.zip)

[2019-11-03 10:46] Chamlika commented on #95
@BradleyBurrellSD Let's change to the following template and give it a try. Also please update with the latest GitHub source, few error check enhancements added to source.

config = r'c:\Image_Mgmt_Workflows\OptimizeRasters\Templates\Imagery_to_COG_DEF.xml'
I've tested with your input raster and it looks OK.

[2019-11-20 04:43] abhiataero commented on #91
@Chamlika has this been fixed

[2019-11-20 04:44] abhiataero commented on #94
@slibby  did you get a chance to test it out

[2019-11-20 04:45] #86 closed

[2019-11-20 04:46] abhiataero commented on #56
@B-Carson  i am closing the issue, if you are still facing the issue let us know

[2019-11-20 04:46] #56 closed

[2019-11-20 04:46] #53 closed

[2019-12-05 06:51] gauteaasolaas opened #97 "fail to retrieve right url to aws"
OptimizeRasters.py
line 2888:
loc = bucketCon.get_bucket_location(Bucket=self.m_bucketname)['LocationConstraint']
returns 'EU' and url https://s3.EU.amazonaws.com
should have returned 'eu-west-1' to generate url: https://s3.eu-west-1.amazonaws.com

[2019-12-05 14:19] Chamlika commented on #97
@gauteaasolaas @abhiataero I suspect the boto3 version here, I'm unable to reproduce. Could you please upgrade the boto3 using the following command and have a look.

pip install --upgrade boto3

Thanks!

[2019-12-06 09:32] gauteaasolaas commented on #97
I tried without success on 10.6.1. Then installed 10.7.1 and tried again to no awail.
Inspecting the available variables in the session-object I noticed that the line
region = session.region_name
would solve the problem.
Not sure how that will work in Python3.

[2019-12-08 11:30] Chamlika commented on #97
@gauteaasolaas Can you provide me temporary credentials to access a similar bucket to test?

Thanks!

[2020-01-22 12:22] DouglasBradley opened #98 "Failed to execute (OptimizeRasters)"
I am getting the below error when trying to execute any operation within the OptimizeRasters function. It occurs when running from the toolbox in Pro or using the command line. I am running the tool with the provided base configuration files. Any guidance will be greatly appreciated.

"Start Time: Wednesday, 22 January 2020 14:17:21
Running script OptimizeRasters...
 Traceback (most recent call la

[2020-01-23 08:26] DouglasBradley commented on #98
I forgot to mention that this error occurs when running in python 3 and the same setup works fine with python 2.7.

[2020-01-23 09:09] abhiataero commented on #98
@DouglasBradley what is the version of pro used also can you give the command line that you are using

[2020-01-23 09:11] #94 closed

[2020-01-23 09:11] #91 closed

[2020-01-23 09:12] abhiataero commented on #89
@Lorne-CoE did the isssue get resolved

[2020-01-23 09:14] abhiataero commented on #73
@stormchasing i am closing this issue. FYI we have a container for optimize raster in case you need that.

[2020-01-23 09:14] #73 closed

[2020-01-23 09:17] abhiataero commented on #95
@BradleyBurrellSD  I hope the issue is resolved, so i am closing it. if you are still seeing any error do let us know

[2020-01-23 09:17] #95 closed

[2020-01-24 06:43] DouglasBradley commented on #98
I am running Pro 2.4.3 the cmd line I am running is:
C:\Users\DouglasBradley\AppData\Local\ESRI\conda\envs\arcgispro-py3-clone\python.exe C:\Image_Mgmt_Workflows\OptimizeRasters\OptimizeRasters.py -config=C:\Image_Mgmt_Workflows\OptimizeRasters\Templates\Imagery_to_MRF_LERC_Test.xml -input=D:\Testing\Raster_Imagery\rm_data_for_doug\Sappi_23_29Dec19_Planet_TIFFs -output=D:\Testing\Raster_Imagery\rm

[2020-01-26 10:41] Chamlika commented on #98
@DouglasBradley I'm unable to reproduce in Pro 2.4.3. Looks like an initialization issue, but shouldn't happen unless a custom launcher/start program is involved.
@abhiataero  Could you check if you can reproduce, thanks!

[2020-01-27 08:03] abhiataero commented on #98
@DouglasBradley  @Chamlika  i am not able to reproduce this, it might be due to the environment,

@DouglasBradley  can you python exe which is from the installed location instead of clone, if you still get the issue we can do a screen share and check it out

[2020-01-28 06:12] DouglasBradley commented on #98
I thought of that when you mentioned the launcher/start program. I switch the python.exe to the ArcPro installed one and not the clone. The issue still persists, unfortunately.

[2020-01-28 08:40] abhiataero commented on #98
@DouglasBradley  can we do a screen share and take a look at the issue, can you share your emailid so I  can send you an meeting invite

[2020-01-28 11:04] DouglasBradley commented on #98
Hi, my email is douglas@swiftgeospatial.solutions

[2020-01-29 09:12] abhiataero commented on #98
@DouglasBradley  the issue is happening due to the SolutionsLog folder missing from the location where Optimizeraster.py is there.

[2020-01-29 12:54] DouglasBradley commented on #98
I have checked this and the folder is there.
![Capture](https://user-images.githubusercontent.com/44017575/73358424-3be42300-42a7-11ea-9022-b94d884e6d83.JPG)

[2020-01-30 13:15] abhiataero commented on #98
there was a logger module conflict so ti was failing. it was fixed by renaming the logger file

[2020-01-30 13:15] #98 closed

[2020-01-30 13:16] #48 closed

[2020-03-06 10:50] alexkemp94 opened #99 "Toolbox does not accept .csv file as input to Raster Proxy Output Folder input box"
The documentation suggests that when when uploading imagery to cloud storage as .mrf files, instead of specifying a folder for the raster proxies to be created, a .csv file can be specified (page 12 of OptimizeRasters_UserDoc.pdf). However, when trying to do this, the Raster Proxy Output Folder input box throws an error (see screenshot below).

![image](https://user-images.githubusercontent.com/33

[2020-03-11 09:23] alexkemp94 opened #100 "Raster proxies generated in a .csv file different to proxies generated as individual .mrf files"
Hi,

I am trying to generate raster proxies for a set of images stored in Microsoft Azure blob storage in a .csv format, using the CreateRasterProxy.xml template. This is so that I can embed the proxies in a mosaic dataset instead of having a path that references a folder of individual .mrf proxies.

![image](https://user-images.githubusercontent.com/33670839/76399924-6382dc80-6377-11ea-925e-66509

[2020-03-25 14:58] ahzarkie opened #101 "RasterProxies don't generate in .CSV when cloud to local"
Hi, i'm trying to create raster proxies on images that are currently held in azure blob storage (in MRF format). I'm trying to make local proxies in CSV format using the OptimizeRasters toolbox. I'm using the 'CreateRasterProxy' config file and only changing the exclude filter to no longer contain aux_xml.

When I run the tool it says it runs successfully:
![OR_params-image](https://user-images.gi

[2020-03-30 12:23] Chamlika commented on #101
@ahzarkie Please let me know if you still face issues with the latest code updated. Thanks!

[2020-03-30 12:24] Chamlika commented on #100
@alexkemp94 Let's have a look with the latest code updated on GitHub, and if you still face issues, let me know. Thanks!

[2020-04-24 09:23] gauteaasolaas opened #102 "Method to generate rasterproxy-csv file for Sentinel2 data?"
The Sentinel2 MS dataset is a multiband product with diverse extra files with metadata. It seems like embedding proxies for this kind of data is not supported, or is there a way around the issues?
With Kubernetes the deployment of thousands of proxy-files fails. What about loading binary tar-files or 7z-files into the raster-column to support this?

[2020-04-24 09:52] alexkemp94 commented on #100
Hi @Chamlika, this has now been resolved. Thank you.

[2020-04-24 09:52] #100 closed

[2020-04-26 13:41] RandallRebello opened #103 "Support for Azure v5.0 sdk"
Update the documentation on how to install Azure. Changes have been made in April 9 2020.
Refer to https://pypi.org/project/azure/

Suggest we make a batch file and include it as part of OptimizeRasters .
the instructions for batch file use would be to copy it to the python\scripts folder and run from there.

[2020-04-27 07:27] gauteaasolaas commented on #102
I've tried both with and without specifying  -inputprofile Sentinel2_to_MRF_Ireland.xml with the exact same result.
I've been tipped that the tool MDTools with a product definition from
https://github.com/Esri/raster-types/tree/master/types
should do the trick. It should replace the rasterdef in the Mosaic Dataset directly. However, I haven't been able to make it work on my setup just yet.

D:\wor

[2020-04-27 08:30] abhiataero commented on #102
@gauteaasolaas  in teh template can you add jp2 as a raster format then run, currently jp2 is not part of it, that is the reason it does not create any raster proxy.

[2020-04-27 08:32] abhiataero commented on #101
@ahzarkie  did you get a chance to try it out

[2020-04-27 08:52] ahzarkie commented on #101
@Chamlika @abhiataero Hi both, sorry only just got round to running this - When I now run cloud to local with the updated code, the csv is being populated with  image proxies, and the aux_xml files are being generated as individual files next to the CSV as expected. Thank you :)

[2020-04-27 08:52] #101 closed

[2020-04-27 10:08] gauteaasolaas commented on #102
Ah. That was more like it!
I had used the wrong keyword for the template-file: -inputprofile instead of -config
Now the csv-file looks perfect!
TY :)
D:\work\GAMP_workspace_ia9ef3269\RUN1234567_workspace_sentinel>c:\Python27\ArcGISx6410.7\python.exe OptimizeRasters201911\OptimizeRasters.py -input D:\servicedata\Sentinel2\mrfproxy\3871 -output D:\work\GAMP_workspace_ia9ef3269\RUN1234567_workspace_s

[2020-04-27 11:40] gauteaasolaas commented on #102
Not so perfect after all. The bands of each produt came in as separate rows instead of a composite Sentinel2 product.
This is a typical name-column-content for a Sentinel2 product when MRF-encoding with OptimizeRasters:
raster_footprints; OID=1;raster_footprints; OID=2;raster_footprints; OID=3;raster_footprints; OID=4;raster_footprints; OID=5;raster_footprints; OID=6;raster_footprints; OID=7;raste

[2020-04-27 16:06] csnd1 opened #104 "local to blob will not create aux.xml even when removed from excluded filter"
Hi there, when uploading from local to blob I'm trying to create aux.xml files alongside populating the chosen csv. However, even when removed from the excluded config filter, I am being left with only the populated csv, and no accompanying aux.xml files. With this all the correct files are uploaded to blob.

![image](https://user-images.githubusercontent.com/55745515/80393393-5464d900-88a8-11ea-9

[2020-04-27 16:15] gauteaasolaas commented on #102
MDTools did the trick after-all. I just had to get the call right.
So heres the recipe: Install MDTools
Fix paths to proxies in the MD.
Run command line e.g. like this:
A:\mdtools>"C:\Program Files (x86)\ArcGIS\Desktop10.7\bin\mdtools.exe" --md=A:\mdtools\MosaicDataset.gdb\s_3870_MS --embedrasterproxy
I believe this is the right tool for this exercise, so I opt to close this task again.

[2020-04-27 16:15] #102 closed

[2020-04-29 10:00] Chamlika commented on #103
@RandallRebello @abhiataero MSFT has broken the function prototypes for the azure.storage module. This will create issues with the clients that need to install latest azure modules.
The solution is to upgrade OptmizeRasters to use the azure.storage.blob==12.3.0+

[2020-05-11 21:54] blairdgeo commented on #103
I second this request.  I noticed that in both ArcMap and ArcGIS Pro that I am no longer able to export rasters to Azure.

[2020-09-27 15:41] Chamlika commented on #103
Note> azure.storage.blob is the only requirement to use MSFT azure with OptimizeRasters.
i.e.  pip3 install azure.storage.blob

[2020-09-27 15:41] #103 closed

[2020-09-28 03:04] KazzaS opened #105 "'The specified module could not be found' error"
Hi,

Today I downloaded the newest OR version of 2020-09-21, but when running the 'Overviews_to_MRF_JPEG.xml' template I get the following error:

log-msg:...: The specified module could not be found.
log-msg:ERROR 1: Can't load requested DLL: C:\Image_Mgmt_Workflows\OptimizeRasters\GDAL\bin\gdalplugins\gdal_MG4Lidar.dll

The C:\Image_Mgmt_Workflows\OptimizeRasters\GDAL\bin\gdalplugins\gdal_MG4Lid

[2020-09-28 06:29] abhiataero commented on #105
@KazzaS  can you confirm that the below folder exists
C:\Image_Mgmt_Workflows\OptimizeRasters\GDAL\bin\gdalplugins

[2020-09-28 07:18] Chamlika commented on #105
@KazzaS Can you re/install the MSFT VC+ runtime 2015-2019 and check, thanks!
https://aka.ms/vs/16/release/vc_redist.x64.exe

[2020-09-29 00:01] KazzaS commented on #105
Thank you, Chamlika, that worked. I installed it on the EC2 instance which is a Windows Server 2016 machine.  Also running the OR CreateRasterProxy.xml in rasterproxy mode, the local proxy directory does not get created, I get the error:"log-critical:[Errno 2] No such file or directory:". Again, this is only on the Windows Server 2016 machine.
Thank you very much :-)

[2020-09-29 03:31] Chamlika commented on #105
@KazzaS  Good to hear! I'll have a look at the proxy folder issue as well. Thank you!

[2020-09-29 03:39] #105 closed

[2020-10-22 03:22] kstronkh commented on #105
Hi Chamlike, we are still experiencing that the rasterproxy folder needs to exist before running the Imagery_to_MRF_LERC template in OR.  Was this fixed?
Thank you,
Karin

[2020-10-22 14:19] Chamlika commented on #105
@kstronkh Are you using the UI?

[2020-10-23 01:27] kstronkh commented on #105
Hi Chamlike, no we're using CommandLine.

[2020-10-27 17:25] Chamlika commented on #105
@kstronkh Can you change the local proxy directory to 2 levels deep like c:/mydata/proxyfiles/ and have a look? This could be related to creating a folder at the drive root on the Windows Server 2016 machine that you're on. Also if you can, please pass me the cmd-line used to see if I can recreate the issue here. Thanks!

[2020-10-29 00:09] kstronkh commented on #105
Hi Chamlika,
The needing of the proxy folder in place before running the latest version of OR occurs on any of our computers, not only on the Windows Server 2016.
The levels at which we create the proxies is as follows and until now we never had issues:
C:\....\....\.....\.....\mrf_proxy
Thanks you,
Karin

[2020-11-08 22:25] Chamlika opened #107 "python3+ compatibility issues"
A placeholder to collect everything related to python version incompatibility issues.
This issue will always be kept open, and developers are encouraged to tag #107 for any fixes that's made related to version incompatibility issues.

[2020-11-10 10:43] sandrews90208 opened #108 "Image files not correctly uploaded to blob when proxy csv is specified"
Since upgrading my OR version to the latest, I've found that when trying to convert TIFs to MRF and uploading to Azure blob storage, not all files are correctly uploaded. The proxy csv is created correctly but of the 4 files to upload to blob (mrf, pjg, idx and mrf.aux.xml), only pjg and idx files are loaded. If I change the proxy output to a folder, all files are loaded correctly to blob.

[2020-11-17 15:41] stev-0 opened #109 "Fails to Create a RasterProxy for Sentinel2 COG"
I am able to convert OpenAerialMap COGs fine, but there seems to be a problem with the [Sentinel-2 data on AWS](https://registry.opendata.aws/sentinel-2-l2a-cogs/). I wonder if this is because it also has a STAC catalogue.

For instance, with the following parameters I am unable to get the tool to create a raster proxy:
[code]

Result is:

[code]

Parameters for successful COG:
[code]

In any case

[2020-12-07 23:47] niwacolours opened #110 "Linux Install"
We would like to run OptimizeRasters on our supercomputer, in a Linux environment. How does that get installed and configured?

I've successfully used it for 'manual' conversion of large volumes of NetCDF (nc) files to MRF, including LERC compression, using an install and the command line on my Windows PC. Here, I use a Python2.7 which came with my ArcMap.

The installation instructions provide a

[2020-12-14 10:31] vedantbajaj96 opened #111 "Issue with public bucket"
OR fails to convert data which sits in public buckets (AWS) which restrict region information

[2020-12-15 09:33] Chamlika commented on #111
@vedantbajaj96 @abhiataero @CrisCD

Unable to recreate with the latest on GitHub. Please upgrade and try.
You may get a warning message like (log-warning:get/bucket/region (Unable to locate credentials), due to restricted AWS bucket permissions that OR may required to work with, but it isn't critical and you should be able to continue.

[2020-12-15 09:38] Chamlika commented on #110
@niwacolours I could provide an OR docker image, will that make things easier on your side?

[2020-12-16 02:57] niwacolours commented on #110
Thanks Chamlika,

That would be a great solution! What other ways are there to install it on Linux? Is that documented somewhere?

Tilmann

From: Chamlika Wickramasinghe <notifications@github.com>
Sent: Tuesday, 15 December 2020 10:38 PM
To: Esri/OptimizeRasters <OptimizeRasters@noreply.github.com>
Cc: Tilmann Steinmetz <Tilmann.Steinmetz@niwa.co.nz>; Mention <mention@noreply.github.com>
Subject:

[2020-12-20 19:53] Chamlika commented on #110
@niwacolours There's a slim version of OR Linux setup made available for you to download and test. The setup link/info at https://github.com/Esri/OptimizeRasters/blob/master/Setup/Linux/readme-info.txt

[2020-12-20 20:07] niwacolours commented on #110
That's very helpful - thanks a lot for sending that through Chamlika!

Cheers,
Tilmann

From: Chamlika Wickramasinghe <notifications@github.com>
Sent: Monday, 21 December 2020 8:53 AM
To: Esri/OptimizeRasters <OptimizeRasters@noreply.github.com>
Cc: Tilmann Steinmetz <Tilmann.Steinmetz@niwa.co.nz>; Mention <mention@noreply.github.com>
Subject: Re: [Esri/OptimizeRasters] Linux Install (#110)

@niwa

[2020-12-27 22:21] Chamlika commented on #109
@stev-0 There's seems to be a limitation with the UI/Profile Editor. The UI is not able to set the region where the bucket is located when creating a new profile.
For now, I'd suggest having the below entry manually added into the **%USERPROFILE%\.aws\credentials** file to continue with your work using either the OptimizeRasters UI or the console.

**[public]
region=us-west-2**

Once added, you ca

[2021-02-17 18:44] maphew opened #112 "Tiff LZW template says to use Deflate, not LZW"
https://github.com/Esri/OptimizeRasters/blob/3a39f4e18e8f2e95db9a66eb4c4ff3c5234711a3/Templates/Imagery_to_TIF_LZW.xml#L15
https://github.com/Esri/OptimizeRasters/blob/3a39f4e18e8f2e95db9a66eb4c4ff3c5234711a3/Templates/Imagery_to_TIF_LZW.xml#L30

[2021-03-08 18:00] stev-0 commented on #109
OK, thanks, bit of a delay but got this to work. Only through the cli though, not the GUI for some reason.

[2021-03-08 18:00] #109 closed

[2021-03-11 01:36] esriau-rlangford opened #113 "Help Documentation - imRoleURL [Defaults] url mixup"
Hey,

we received an email from a client who found that when reviewing the help for the OptimizeRasters tools > ProfileEditor tool the imRoleURL endpoints are mixed up (see attached screenshot)

imRoleURL (Optional)
Dialog Reference
.....
[Defaults]
Amazon S3 = http://blob.core.windows.net
Microsoft Azure = http://s3.amazonaws.com
![OptimizeRastersToolsHelp](https://user-images.githubusercontent.c

[2021-03-11 04:19] elwoodhouse opened #114 "handling rotation in tiffs"
I was wondering if someone could check that I've not overlooked a setting somewhere as when I run the Imagery_to_MRF_JPEG template my resultant MRF files do not preserve the rotation in the source tif image.
Source image on bottom with rotation, MRF on top:
![image](https://user-images.githubusercontent.com/38488541/110734383-d0c39900-827b-11eb-9f60-a73f63079207.png)

I thought this might have bee

[2021-03-11 10:04] abhiataero commented on #112
fix has been made

[2021-03-11 10:04] #112 closed

[2021-03-11 10:04] #111 closed

[2021-03-11 10:04] #107 closed

[2021-03-11 10:05] abhiataero commented on #113
@Chamlika  can you make the update

[2021-03-11 19:48] lucianpls commented on #114
It's an MRF limitation, rotation and skew are not allowed. The workaround is to reproject the source to eliminate the rotation.

[2021-03-18 10:08] abhiataero opened #115 "Update documentation for installing azure modules"
The current document talk about installing old modules of azure. Optimize Raster supports new version of Azure #103

the documentation for this is not updated

[2021-03-19 14:44] #110 closed

[2021-03-21 09:09] imrankhan-pathan opened #116 "OptimizeRasters: Issue in generating rasterproxy. Error module 'os' has no attribute 'errno'"
While generating rasterproxies of the tif files stored in S3 bucket getting error as "module 'os' has no attribute 'errno'".

The probable cause can be python 3.7 removed errno from the os module, hence the error.

https://docs.python.org/3.7/whatsnew/3.7.html#changes-in-the-python-api

ArcGIS Pro Version: 2.7.2
Python Version: 3.7.9

[2021-03-30 10:35] Chamlika opened #117 "GDAL updates."
The fix to support and read-in jp2, j2k rasters that was broken in the previous setup.

[2021-03-30 11:22] #117 closed

[2021-04-05 07:17] imrankhan-pathan opened #118 "GRID_to_MRF_LERC, GRID_to_COG_LZW jobs are keep on failing even with right parameters"
Sample data is available at esri-shj-users-us-west-2/imran/GRID

[2021-04-20 02:10] elwoodhouse opened #119 "LERC support in ArcGIS Image Server 10.8.1 (Linux)"
This is probably not directly related to OptimizeRasters but thought I would post in case someone can give me a quick answer.

I am creating MRFs through the Imagery_to_MRF_LERC.xml template with the MRFs uploaded to S3, then adding them to a mosaic dataset and publishing the mosaic dataset to Image Server on Linux.

When I add the image service to ArcGIS Pro 2.6, the rasters do not draw. When I t

[2021-04-20 02:54] lucianpls commented on #119
@elwoodhouse
If you are using raster proxies in the mosaic, make sure that the Linux user that runs arcgis server (arcserver if I recall) has write access to the cache folder. If the cache files/folders can't be created, it will act as you describe.

[2021-04-20 03:38] elwoodhouse commented on #119
Thanks for the response, I am using proxy files. My understanding of the cache directory is that it's created on the client side. ArcGIS Pro and accessing the rest api is happening from a windows workstation. When I use JPEG compression the cache files are created successfully in the cache directory, when I use LERC compression no files are created (using the same cache settings as the JPEG compre

[2021-04-20 05:55] lucianpls commented on #119
@elwoodhouse
The cache gets created where the proxy gets used. It has nothing to do with the final "client". The proxy string is in the mosaic. In this case, the server uses the mosaic, thus the proxies, so the cache folder used is on the server.
When you open the mosaic directly with ArcPro (not via the server), it's ArcPro who uses the proxy, so the cache gets created on the ArcPro machine. It's

[2021-04-20 06:10] lucianpls commented on #119
@elwoodhouse
Ah, OK, now that I read the original message more careful, it looks like we were talking past each other.
Everything I said is correct, but it sounds like you have it working (with or without the sever cache) when using JPEG but not when using LERC.

If that is the case, it could be indeed a LERC version issue. If the OptimizeRasters is using a newer LERC implementation than the serve

[2021-04-20 06:13] lucianpls commented on #119
@elwoodhouse
You can try setting the V1:1 in the custom MRF options in the OR template. That will force the original version of LERC, which is the most compatible.

[2021-04-20 06:22] elwoodhouse commented on #119
Thanks for the pointers, much appreciated. I'll get the server side cache dir working and try the V1:1 flag. This is the MRF content:
<MRF_META>
  <Raster>
    <Size x="19036" y="23536" c="1" />
    <PageSize x="512" y="512" c="1" />
    <Compression>LERC</Compression>
    <DataValues NoData="0" />
  </Raster>
  <GeoTags>
    <BoundingBox minx="459240.00000000" miny="7852540.00000000" maxx="485890

[2021-04-20 06:25] lucianpls commented on #119
Yes, that is V2, but it is single band, which forces an old version of LERC V2 which is compatible with all ArcGIS versions that support raster proxies.  So we're back to the cache or the S3 access.

[2021-04-20 06:27] lucianpls commented on #119
Can you open that MRF with ArcPro, local?

[2021-04-20 06:36] elwoodhouse commented on #119
Yep, through an acs connection (proxy raster uses /vsis3 though):
![image](https://user-images.githubusercontent.com/38488541/115348897-8cbaa100-a1f6-11eb-9f9b-b4f0bef610b0.png)

[2021-04-20 09:02] abhiataero commented on #119
@elwoodhouse have you set any cloud store on the server, just make sure the permission are set correctly

- The ACS file is copied on the Linux server and ArcGIS account has the required permission
-

other test you can do it is to check at gdal level if there is access

use the below python in wine environment
"c:\Program Files\ArcGIS\Server\framework\runtime\ArcGIS\bin\Python\envs\arcgispro-py3\

[2021-04-20 14:19] lucianpls commented on #119
It's certainly not in LERC then. It has to be the server, either lacking access to S3 or being unable to use the cache folder, in that order.

[2021-04-21 00:34] elwoodhouse commented on #119
Got the cache directory working and the image is now drawing! Thanks for the diagnosis and explanation of how the raster proxies work, it's much appreciated. The performance does seem to be better with the cache directory.

[2021-04-21 00:38] lucianpls commented on #119
@elwoodhouse
Great, glad to be able to help!

[2021-04-21 00:41] #119 closed

[2021-04-21 00:42] elwoodhouse commented on #119
Image server didn't have access to a proxy cache directory.

[2021-05-25 06:07] elwoodhouse opened #121 "IAM role access - expired token"
I was wondering if anyone else has seen the behavior we are getting when running longer jobs that upload to S3?

We are converting from tif to MRF as the first step in our OptimizeRaster job and using an IAM Role to provide access to a private S3 bucket. The script runs fine and uploads files to the output S3 bucket until the temporary credentials assigned to the IAM role (currently set to the def

[2021-06-03 00:42] Chamlika commented on #121
@elwoodhouse You're right, the (temporary) credentials for the IAM Role instance do not get refreshed before the expiry time. The issue will be addressed to implement the support for workflows that need to work over many hours/days. For now, I'd suggest to split the larger jobs with many rasters that could possibly take more than 12 hours to upload into smaller batches until we've a fix.

[2021-06-10 09:07] imrankhan-pathan opened #122 "OptimizeRasters job is failing if the input, output cloud paths include special/Unicode characters"
When an OptimizeRasters job is submitted where the input and output cloud paths include special/unicode characters, the submitted job is failing.

For example: bucket/Peninsúla

Error: The specified key doesn't exist.

[2021-06-23 01:28] #114 closed

[2021-06-24 17:36] maphew opened #124 "Updating to GDAL 3.x?"
Are there specific reasons Optimize Rasters is using GDAL 2.3 and not the 3.x series? Are there things the community might be able to work on to help transition?

I'd like colleagues to take advantage of the ZSTD compression available in gdal v3, and the built in COG driver is an added convenience. For my own use I'm happy enough with my commandline gdal scripts that do this but my compatriots are

[2021-06-30 18:27] Chamlika commented on #124
@maphew Thank you for reaching out to us.
Yes, GDAL v3+ updates will be available on the next release. COG conversion templates to use the built-in GDAL driver.

[2021-07-02 00:55] CamilleBatGA opened #125 "NoData limitations"
What values are possible to use a NoData Values in a Raster? or if its easier what values are excluded.

[2021-07-02 12:36] sandrews90208 opened #126 "Error during OR run 25/05/21 relating to GDAL DLL change?"
<Message>warnings/errors:</Message>
		<Message>ERROR 1: Can't load requested DLL: C:\Image_Mgmt_Workflows\OptimizeRasters\GDAL\bin\gdalplugins\gdal_MG4Lidar.dll</Message>
		<Message>126: The specified module could not be found.</Message>

The error seems to suggest an issue with one of the GDAL binaries which from looking at the github page were updated back in March.
When investigating I tried in

[2021-07-02 15:09] Chamlika commented on #126
@sandrews90208 Thank you for reporting, could you tell me the OR template used.

[2021-07-02 15:14] Chamlika commented on #125
@CamilleBatGA Any pixel value within the range for the raster data-type used. You can gdalinfo on the raster to know more on the dataset structure involved.

[2021-07-05 06:27] sandrews90208 commented on #126
hi chamlika, its a customised version of the overviews_to_mrf_jpeg template. i can email over a copy if that helps?

[2021-07-05 13:46] Chamlika commented on #126
@sandrews90208  Hi, could you test with the next release candidate to see if your issue gets resolved, this isn't yet on GitHub but will be in the next few days, thanks!
https://esriis-my.sharepoint.com/:u:/g/personal/cham4757_esri_com/EeKiLLBzulBAvz4YFaS7mb4BjvKZokWwm8Yg5wWrO9CaJg?e=hh3Phc

[2021-07-05 16:00] Chamlika commented on #90
@sandrews90208 Can you remove the input arg -tempinput when you do the Azure blob to Azure Bob. With the -tempinput omitted, the source files will be addressed directly by OR rather than downloading the source files locally before the conversion takes place, thanks!

[2021-07-05 16:06] Chamlika commented on #66
Need more info, what was the template used, perhaps the GDAL ignored the user options based on the conversion requested.

[2021-07-08 02:09] #66 closed

[2021-07-08 17:06] lucianpls commented on #66
The deflate option is never ignored in MRF

[2021-07-10 10:38] Chamlika commented on #104
@csnd1 Available with the next release, the aux.xml files will always be copied to the the (Raster Proxy Output Folder) that points to a .CSV file.

[2021-07-12 11:05] Chamlika opened #127 "esri/case/#02834861"
OptimizeRasters credentials get stored using %HOMEDRIVE%/%HOMEPATH% via the UI/Profile Editor but UI/OptmizeRasters uses %USERPROFILE% to search for the stored credentials on the local machine. This causes issues if  %HOMEDRIVE% isn't the same as what's reflected on %USERPROFILE%.

*UI/Profile Editor to be updated to use %USERPROFILE%

[2021-07-13 07:58] #99 closed

[2021-07-13 07:58] #104 closed

[2021-07-13 07:58] #113 closed

[2021-07-13 07:58] #115 closed

[2021-07-13 07:58] #116 closed

[2021-07-13 07:58] #118 closed

[2021-07-13 07:58] #122 closed

[2021-07-13 07:58] #124 closed

[2021-07-13 07:58] #126 closed

[2021-07-13 07:58] #127 closed

[2021-07-13 12:58] Chamlika commented on #64
Looks like the issue has been resolved with the latest source on GitHub, please reopen if necessary, thanks!
@abhiataero

[2021-07-13 12:58] #64 closed

[2021-07-16 06:17] Chamlika commented on #97
@gauteaasolaas virtual hosted addressing (bucket name is now part of the domain) requirement for AWS URLs has been implemented for OR. The path style addressing, as recommended and made obsolete by AWS is no longer supported within OR.
Your issue I believe is no longer relevant due to this change. I'll be closing the issue, but please reopen if it's necessary, thanks!

[2021-07-16 06:17] #97 closed

[2021-07-16 06:31] Chamlika commented on #84
Pre-assign S3 URLs can be used with OR as long as they begin with HTTP(s). The ability to share S3 buckets as pre-signed URLs isn't available yet from AWS unlike SAS for Azure containers, therefore AWS pre-signed URLs can only be used with S3 files only.

[2021-07-16 06:31] #84 closed

[2021-08-02 00:58] jrounsley opened #128 "Cannot use local S3 storage"
I am attempting to use optimise rasters against local S3 storage (not AWS). I can successfully create a profile against the storage and I have noticed the optimiseRasters python tool will not recognise the bucket/container parameter if I enter in an incorrect value. Therefore I am assuming that the tool is correctly looking up the local S3 bucket - similarly we hit errors if we purposefully enter

[2021-08-04 09:30] Chamlika commented on #128
@jrounsley Optimizerasters has no local S3 support. Are you planning to run s3 clone locally to test custom lambda requirements combined with Optimizerasters as a client?

[2021-08-05 00:29] jrounsley commented on #128
Our current and exploratory design have no requirement or use case for the lambda components of Optimizerasters.

We already have a design & capability that is working which uses optimizerasters (arcpy scripts) with the raw data output to a NAS file share. This process is kicked off by a virtual machine that leverages the arcgis pro python environment + the boto3 python dependencies.

We are explo

[2021-08-05 13:34] abhiataero commented on #128
@jrounsley  can we connect, I would like to check few things, if it is s3 compatible local storage, then ideally optimize raster should work with it

[2021-08-06 02:52] jrounsley commented on #128
Sorry you cannot connect.

As an example, I can successfully register the S3 bucket as a cloud store with ArcGIS Server and Pro. We can publish image services which use the S3 as the underlying storage. We cannot get OR to output to the S3 storage.

Let us know your thoughts and we can test more options/params within the profile editor and OR tool. The fact the error is reporting a failure to find

[2021-08-12 20:49] drwelby opened #129 "Document rasterproxy file format"
It appears the rasterproxy file format shares a similar format to the MRF metadata file, but could you share a schema or some example files to compare against?

[2021-08-15 04:59] abhiataero commented on #129
@drwelby  Raster proxy and MRF have same structure, there are two major difference

1. The raster proxy has a source node which points to the location of the source data
2. The raster proxy has data and index node which tell you the location where the data will be stored locally for caching

The Raster proxy is called as Caching MRF if it is pointing to  any raster other than MRF
The Raster proxy

[2021-08-16 16:39] drwelby commented on #129
Thanks for the clarification, using the Caching MRF as a starting point I was able to generate working Raster Proxies with GDAL.

[2021-08-16 16:39] #129 closed

[2021-08-24 00:20] benjaminturrell opened #130 "CleanMRFCache.py documentation is not inline with the code"
In the clean MRF cache tool on the arguement for size says that the input should be in Bytes.

On line 159:
space_to_free = args.size * 1000000000

This suggests that the input size should be in GB as line 159 then calculates it out into Bytes.

This is causing the cache to delete all the files and the script is highly likely to respond with "Unable to Free space requested"

Can the documentation

[2021-09-06 12:55] sandrews90208 opened #131 "Empty folders left in temp output directory"
We've hit an issue when using OR this week where we've noticed that if an input directory has subfolders with rasters in, this folder structure is then copied in the output temp directory. When all images are uploaded to Azure, these subfolders are then left empty. We've found that if processing large quantities of data in this way, the build of empty folders in this directory can lead to gradual

[2021-09-06 17:44] Chamlika commented on #131
@sandrews90208 Do you mean the empty folders must be removed while the job is still (being processed), or cleaned up at the end of the entire job session?

[2021-09-06 18:06] Chamlika opened #132 "Cache folder output (-rasterproxypath) must match the folder structure of the input source path (-input) for (non MRF) output."

[2021-09-06 18:17] #132 closed

[2021-09-06 18:20] Chamlika commented on #121
Let me know if you face any further issues, thanks!

[2021-09-06 18:20] #121 closed

[2021-09-08 13:58] sandrews90208 commented on #131
@Chamlika maybe while the job is being processed? as long as the empty folders are removed at some point i dont think it matters too much. its common for us to be running multiple instances of OR using the same output temp directory so whichever avoids conflict with other running jobs?

[2021-09-08 14:40] Chamlika commented on #131
@sandrews90208 I'll have a fix on this with the next update. Thank you for for reporting.

[2021-09-28 00:18] AllisonRob opened #133 "Support for generating raster proxies of encrypted MRF files on S3 bucket ?"
Hi,
We have a client using the OptimizeRasters tool in ArcGIS Pro 2.7,  to create raster proxies for MRF files that are stored in an Amazon S3 bucket.
The destination location for the raster proxies is on the client's internal file share.
This worked successfully.
Configuration changes were then made on the S3 bucket to encrypt some of the MRF rasters. Since making this change and then attempting

[2021-10-02 07:28] Chamlika commented on #133
@AllisonRob Hi, OptimizeRasters requires the source input raster to be recognized as a valid raster so that the internal components/GDAL can work accordingly.  For me this looks like the OptimizeRasters request needs to have certain header information/URL query parameters before the request is made to ensure the AWS/cloud providers to honor the incoming request as a valid URL request. This could e

[2021-10-03 12:14] Chamlika opened #134 "Minor fixes/performance enhancements"
A common issue to consolidate minor fixes/improvements.

[2021-10-03 23:52] AllisonRob commented on #133
Hi @Chamlika and @abhiataero,
Thanks for your initial thoughts on this issue.
As requested separately, sample imagery from the client site is presently being made available, and I will be emailing Abhijit directly.
Regards,
Allison

[2021-11-15 20:40] mbeaucha opened #135 "Hardcoded use of S3 Virtual addressing/hosting"
Lines 337 and 3285 of OptimizeRasters.py hardcode the use of virtual addressing for S3. This breaks compatibility with certain regions and/or third-party S3 API implementations like MinIO. The code should be updated to either respect the value of 'addressing_style' in the ~/.aws/config file or the value of AWS_VIRTUAL_HOSTING, which is used by the embedded GDAL package to configure the same settin

[2021-11-17 07:24] abhiataero commented on #135
@mbeaucha  optimize raster support the addressing style from /.aws/config so in that case it should just work. in the template files we refer it using the profile. The profile is defined in the .aws/config

[2021-11-17 07:29] #134 closed

[2021-11-17 07:29] abhiataero commented on #133
@AllisonRob  can you confirm is this works so we can close this issue

[2021-11-17 08:08] Chamlika commented on #135
@mbeaucha Hi, the addressing style was forced into 'virtual style' because the 'path style' type is not longer recommended by AWS and could be soon made obsolete if not already for the older clients.  https://github.com/Esri/OptimizeRasters/issues/97#issuecomment-881205958. However, we'll look forward to take your recommendation to derived the path style using the ENV/config if set, else default t

[2021-11-17 20:31] AllisonRob commented on #133
Hi @abhiataero,
I am still waiting to hear from the client, but given I was able to reproduce the issue, and then see that using the "Secured Bucket" option (in the latest update) resolved it, I can confirm that it works and the issue can be closed.
Thanks for your time and attention to this issue.
Regards,
Allison

[2021-11-30 12:48] rasgithub opened #136 "Python Package Manager of ArcGIS Pro 2.9 does not provide azure packages"
Tryed to install the azure python package as described in the doc (page 4), but no 'azure' package will be provided.
![image](https://user-images.githubusercontent.com/45854242/144050116-d5224019-86d3-4755-b49d-e1be0b955340.png)
Can I use Azure-common instead?

[2021-11-30 13:17] rasgithub commented on #136
Same issue with 2.8

[2021-12-17 18:03] mbeaucha opened #138 "S3 Files >2GB Cause OverflowError Due to SSL"
Attempting to use OR on an S3-hosted image larger than 2GB triggers an overflow/'signed int greater than max value' error in python versions prior to 3.10 as the underlying SSL library is limited to 32-bit reads. Solution changes reading of file from S3 to be done via iterator over large chunks that stay below the 32-bit limit, rather than trying to read all in one call.

Please see pull-request o

[2021-12-21 05:51] Chamlika commented on #138
@mbeaucha Thanks for finding out the issue. The code was not supposed to read the entire file into memory unless it was an MRF which is text and quite small in size. Looks like the original code/intention was broken and overlooked during an earlier code upgrade process. This will be corrected in a follow up, thank you!
@abhiataero

[2021-12-21 12:24] Chamlika commented on #138
@mbeaucha I've updated the OptimizeRasters.py for the fixes, however the Setup/OptimizeRastersToolsSetup.exe will take few hours to update. You can fetch just the updated source file to see if everything looks good with your tests/needs.
Thanks!

[2021-12-26 06:21] abhiataero commented on #135
@Chamlika  has this been taken care of

[2021-12-26 06:26] Chamlika commented on #135
@abhiataero Will look forward to include in the next release.

[2021-12-28 20:49] torrin47 opened #139 "Fully document necessary S3 permissions?"
Our AWS environment is managed very strictly via the principle of least privilege, and we use an IAM Role assigned to our EC2 instance for managing content in an S3 bucket, which works well for managing bucket contents with the AWS CLI and an ArcGIS Pro Cloud Storage connection. But the OptimizeRasters codebase seems to need some additional privileges, including get-bucket-location (why? ArcGIS Pr

[2022-01-24 16:48] mbeaucha commented on #138
Thank you very much! I will pull the latest and check it out!

[2022-01-25 06:26] Chamlika commented on #138
@mbeaucha  Please pull only the https://github.com/Esri/OptimizeRasters/blob/master/OptimizeRasters.py directly, the setup is not yet updated, thanks!

[2022-02-03 18:19] mbeaucha opened #140 "CachedSource/Source clone="true" Never Set in rasterproxies"
I am using rasterproxy mode with MRF files on S3 that have matching compression to the settings listed in the config.xml for OR. Based on the guidance in the MUG https://github.com/nasa-gibs/mrf/blob/master/doc/MUG.md#cloning-mrf, this should result in a clone MRF with <CachedSource><Source clone="true">, however OR does not add the clone="true". Reviewing the OR code, there is only one spot where

[2022-02-08 21:34] mbeaucha opened #141 "Create raster proxy with CSV output target fails when input on S3"
These seems to be the same as prior issue #101 which occurred with input in Azure, but my input is in S3 and it still does not work. The CSV file created is empty other than the header.  When the input is moved to local disk and run with the same config file it works fine, CSV is populated. The input in question is a valid MRF file, despite the error message produced by OR:

log-msg:[Resume] Creat

[2022-02-14 11:21] Chamlika commented on #141
@mbeaucha The fixes have been added to GitHub binary setup/source. You can have a look and let us know, thanks!

[2022-02-14 11:24] #138 closed

[2022-02-14 11:24] #141 closed

[2022-02-23 16:03] younggrr opened #142 "Incorrect external raster proxies being generated"
- Using "OptimizeRasters" with "CreateRasterProxy" configuration.
- Source files are 32-bit single band MRF with LERC compression in Azure blob storage (4,908 tiles total).
- Output is a local folder
- Result after loading into mosaic dataset is swiss cheese:

![image](https://user-images.githubusercontent.com/11195930/155355583-06efd566-3abd-45ca-9e1c-bfc49dc43a57.png)

- Also tiles are being pla

[2022-03-01 23:55] CaltechGreg commented on #87
Newby question - Where does one find the Azure credentials file?
My C:\Image_mgmt_Workflows\OptimizeRasters does not have a Microsoft\azure_credentials folder (it does not even have the Microsoft folder).
What do I need to run to get that folder created with the proper credentials file in there?
Can you also provide an example:
Profile name - Do we make this up or copy from somewhere?
Access/Accou

[2022-03-03 08:37] Chamlika commented on #140
@mbeaucha I'm unable to reproduce the issue, can you double check with the GitHub source and let us know, thanks!

[2022-03-04 06:56] Chamlika commented on #87
@CaltechGreg  The Azure credentials get stored in %userprofile%\.OptimizeRasters\Microsoft\azure_credentials
You can use the ProfileEditor GP Tool within Pro to create credential profiles interactively via the UI.

[2022-03-09 20:35] gbadanahatti opened #143 "Logged message in cloudwatch logs"
Using OptimizeRasters Lambda. I see the following in the cloudwatch logs. Although, I see the output written in my S3 bucket, I am trying to understand the implications of the following error message is to the processing.

log-msg: /tmp/gdaladdo: /var/task/GDAL/bin/libcurl.so.4: no version information available (required by /var/task/GDAL/bin/libgdal.so.20)

[2022-03-12 16:36] Chamlika commented on #143
@gbadanahatti  Please ignore the harmless warning message, curl isn’t involved with any image processing. If you see the output as expected, it’s all fine. Thanks!

[2022-04-06 15:01] slibby opened #144 "Google Cloud Storage bucket cleared out in GP Tool"
When trying to run the OptimizeRasters tool from the .pyt, there appears to be an issue with the Tool Validation logic.

I have a credential file with GetObject privileges to the bucket, when I specify the bucket name, then click to another parameter, it does some processing (some ToolValidation I assume) and then immediately clears out the value.

![87B74847-0549-48D6-9890-F503CA4C5EFF](https://u

[2022-04-06 15:42] slibby commented on #144
I think this comes down to the validateCredentials method, which has exception handling for AWS and Azure when ListBuckets is not allowed, but not for Google:

![image](https://user-images.githubusercontent.com/1691225/162012967-622e48ab-6dfd-4251-9ff6-fd4be6b3d12f.png)

[2022-04-09 20:32] bixb0012 opened #145 "Clarification on Commit Comment "GDAL v3.0.0+ with built-in COG support...""
The Commit comment from @Chamlika on Jul, 13, 2021 states:

The comment is straightforward enough, but what I am trying to understand is how that comment reconciles with the fact that EXEs under `OptimizeRasters/GDAL/bin/` all show file version 2.3.3.98.  I will admit I am not a regular GDAL user, but how does 2.3.3.98 equal 'v3.0.0+' ?

Apologies if I am missing the obvious.

[2022-04-09 21:01] Chamlika commented on #145
@bixb0012  These OR GDAL binaries built from public GDAL source carry internal versioning that do not match to public GDAL version numbers and can have fixes/enhancements.
@abhiataero

[2022-04-10 14:35] bixb0012 commented on #145
@Chamlika, thanks for the reply and clarification, it definitely helps.  Determining/finding the public GDAL version numbers is simple enough, is there a way users can find the OR GDAL internal version from files installed on their machine.

*I realize comments in GH give me an answer, or at least an idea of an answer, but I am looking for something that can be done with files already installed on

[2022-04-13 13:22] Chamlika commented on #144
@slibby Can you check if running it at the console works for you, and you're right, it looks like a UI issue. Will see to rectify, thanks!

[2022-04-14 22:46] bixb0012 commented on #145
I understand that Pro is already using GDAL 3.x code.  For example with Pro 2.9.2, the GDAL DLLs show a version of 3.3.0.25, and you just stated that will increment to 3.4.x with Pro 3.0.

Maybe my context confused the matter more than clarified it because I really am just focused on trying to understand versioning within compiled GDAL files with OptimizeRasters and not any other Esri products.  G

[2022-04-20 13:21] Chamlika commented on #145
@bixb0012  Windows GDAL builders have come back saying it'd be best to look at the (features) that are available with the OR released GDAL binaries than to compare with the version number reported. At least for now, the version numbers are never in sync with the publicly released versions.

[2022-04-28 07:22] ZoltanKelly opened #146 "Clarification on what Windows installer does (to set paths)"
Hi, working in a locked down Windows corporate environment without installing permissions is makes it challenging to manage an install of OptimizeRasters (as exe requires admin approval, and subsequent versions).
What does the Windows installer actually do vs. running the toolbox direct from the zipped download? viewing config files after running the installer, it doesn't seem to update any refere

[2022-04-29 18:48] Chamlika commented on #146
@ZoltanKelly You can download the GitHub repo as a zip and have unzipped manually to C:\Imagery_Mgmt_Workflows\OptimizeRasters\ and start off from there.
The OR setup (EXE) was added only for convenience for few users.

[2022-04-29 23:20] ZoltanKelly commented on #146
Thanks, yes I think I worked out my issue. If I added it to pro, then moved the folder and tried to run it again from the new location, it was still using the initial folder location paths and throwing 'GDAL is not found' errors in logs.
Closing and reopening Pro resolved the issue, I think because of some caching function in Pro. Thanks! You can close this.

[2022-05-01 15:11] #146 closed

[2022-07-13 08:59] Chamlika opened #147 "Minor fixes/performance improvements"
-GDAL BIGTIFF flag is now set to (YES) instead of IF_NEEDED.
-Update to VRT creation via an external file list to support bigger list of input raster entries.

[2022-07-13 09:06] #147 closed

[2022-09-13 05:43] jrounsley commented on #128
Hi @Chamlika, just seeing if there is an update with this? It would be fantastic to utlise OptimizeRasters with our disconnected S3 storage.

[2022-09-17 08:02] Chamlika commented on #128
Hi @jrounsley @abhiataero
I'd hope everything is good with you! It's been a long pending requirement indeed. I'll get back into this issue to have an update to support S3 compatible local storage systems. To start off with, will use minio for compatibility tests and will have a response once we've something to release, thanks!

[2022-09-19 10:36] Chamlika commented on #128
@jrounsley Please have a look with the latest release and let us know. Tested with local minio server to read and write locally. A sample profile is shown below. Also note, for now the addressing_style entry needs a manual update until the UI gets ready, thanks!

[minio]
aws_access_key_id = AKIAIOSFODNN7EXAMPLE
aws_secret_access_key = wJalrXUtnFEMI/K7MDENG/bPxRfiCYEXAMPLEKEY
aws_region = us-east-1

[2022-09-19 10:40] Chamlika commented on #135
@mbeaucha Let us know if the fix works for you, thanks!

[2022-09-19 11:00] #143 closed

[2022-09-19 11:06] #90 closed

[2022-09-19 11:08] #145 closed

[2022-09-19 11:11] Chamlika commented on #142
@myoung1000  Can you confirm you still have this issue, thanks!

[2022-09-19 11:12] #133 closed

[2022-09-19 11:13] #125 closed

[2022-09-19 19:17] myoung1000 commented on #142
@Chamlika - I believe you want to ask a different young...

[2022-09-20 15:06] Chamlika commented on #142
oops, yes.

Thanks!

[2022-09-20 15:07] Chamlika commented on #142
@younggrr Can you confirm you still have this issue, thanks!

FYI @abhiataero

[2022-10-11 23:43] jrounsley commented on #128
Hi @Chamlika, thanks so much for getting back to me so quickly. It has taken a little bit of time to figure things out on my end to test the updated code, however I have run into an issue.

I have added the logfile [OptimiseRasters-Logs.zip](https://github.com/Esri/OptimizeRasters/files/9760338/OptimiseRasters-Logs.zip)

Some files are getting added to my local S3, so the connection is working, ho

[2022-10-14 06:54] Chamlika commented on #128
@jrounsley The log (XML) says the TIF files associated with the .TIL had failed. This may not be anything related to the local S3 connection. I'll have a test with a TIL sample on my side is see if anything related to TIL is broken and will get back to you, thanks!

[2022-10-14 07:32] Chamlika commented on #128
@jrounsley  I don't see any issue related to converting of TIL files on my side and could successfully upload to the local s3 Minio server. Do you think you can get me the TIL sample used with just one TIF file to keep the zip file size low together with the OR template used to help with the issue, thanks!

[2022-10-25 03:30] #135 closed

[2022-11-02 20:03] jrounsley commented on #128
Hi @Chamlika thanks for your help - we got it working.

[2022-11-05 07:07] #128 closed